
.card {
  text-decoration: none;
  background: white;

  &.borderless {
    border: none;
  }

  .card-img, .card-img-top {
    width: unset;
  }

  .card-img-top {
    page-break-before: avoid;
    page-break-after: avoid;
  }

  .card-img-top + .card-img-top {
    border-top: 1px solid $card-border-color;
    border-radius: 0
  }

  .card-body {
    padding: 1em;
    line-height: 1.3;
    color: #333;
    font-size: 12px;
    font-family: $font-secondary;

    ul { padding-left: 1.2em; }
  }

  .card-body.caption {
    font-size: 10px;
    text-align: center;
  }

  .list-group-item {
    font-size: 12px;

    padding: 0.5rem 1.25rem;
    text-decoration: none;

    &.active + .active {
      border-bottom: 1px solid lighten($list-group-active-bg, 15%);
      background-color: lighten($list-group-active-bg, 10%);

      color-adjust: exact;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0 !important;
    margin-bottom: 5px;

    &.hero {
      margin: 0 -15px 10px -15px;
      border-left: none;
      border-right: none;
      border-radius: 0;

      img { border-radius: 0; }
    }
  }

  &.ig-card {
    background: white;
    padding:12px;
    font-size:14px;
    line-height:17px;
    color: rgb(38, 38, 38);
    font-family: Roboto, Helvetica, Arial,sans-serif;
    text-decoration:none;


    .ig-header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .ig-avatar {
        background-color: #F4F4F4;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        flex-grow: 0;
        height: 40px;
        width: 40px;
        margin: 0 10px 0 0;

        color-adjust: exact;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }

      .ig-name {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: flex-start;
        font-weight: 400;
        line-height: 1.2;

        strong {
          font-weight: 600;
        }
      }
    }

    .ig-image {
      margin: 10px 0;
      border-radius: 5px;
    }

    .ig-caption {
      line-height: 18px;
      font-size: 14px;
      font-weight: 400;
      word-wrap:break-word;
      margin: 0;
    }

    .ig-footer {
      color:#c9c8cd;
      font-size: 10px;
      line-height: 1;
      overflow:hidden;
      padding:6px 0 0 0;
      margin: 0;
      text-overflow:ellipsis;
      text-transform: uppercase;
    }
  }
}

@include media-breakpoint-up(md) {

  .card.left {
    float: left;
    margin-right: 10px;
  }

  .card.right {
    float: right;
    margin-left: 10px;
    page-break-inside: always;

  }

  .card.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }

  .card.natural {
    .card-img-top {
      width: unset;
      max-height: 50vh;
      margin: 0 auto;
    }
  }

  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span34 {

    &.left { clear: left; }
    &.right { clear: right; }

    &:first-child {
      margin-top: 0.5em;
    }
  }

  .hero  { width: 35%; }
  .span1 { width: 100%; }
  .span2 { width:  50%; }
  .span3 { width:  33%; }
  .span4 { width:  25%; }
  .span5 { width:  20%; }
  .span6 { width:  15%; }
  .span34 { width: 75%; }
}
