
$font-secondary-comp: 'Helvetica Neue', Helvetica, serif;

html[lang=de], html[lang=pl], html[lang=hu], html[lang=fr] {
  .card .card-body {
    font-family: $font-secondary-comp;
  }

  .markup blockquote {
    font-family: $font-secondary-comp;
  }
}
