
$font-secondary-comp: 'Helvetica Neue', Helvetica, serif;

html[lang=de], html[lang=pl], html[lang=hu] {
  .card .card-body {
    font-family: $font-secondary-comp;
  }

  .markup blockquote {
    font-family: $font-secondary-comp;
  }
}

html[lang=hu] {
	blockquote {
		font-family: $font-secondary-comp;
	}
}
