.front-page {

  header {
    @media (max-width: 500px) {
      position: absolute;
    }
  }

  .top-fold {
    min-height: 100vh;
    background-color: $header-bg-mid;
    background-image: linear-gradient(135deg, $header-bg-1, $header-bg-2);

    padding-top: $header-full-height;

    @media (max-width: 400px) {
      padding-top: 100px;
    }

    .container {
      margin: 0 auto;
      padding-bottom: 1em;
      padding-top: 2em;
      max-width: 1000px;
    }

    blockquote {
      padding: 1em;
      border-radius: 1em;
      margin-top: -2.5em;
      margin-bottom: 0;
      margin-left: 1em;
      margin-right: 0.5em;
      float: right;

      background: #ad7ad6;
      border: 3px solid rgba(#ad7ad6, 0.9);
      box-shadow: inset 0px 1px 5px rgba(#000, 0.2), 0px 2px 3px rgba(#000, 0.7);
      text-shadow: 0px 1px 3px rgba(black, 0.9);
      color: $gray-100;

      max-width: 500px;
      width: 50vw;
      font-family: $font-secondary;

      transition-property: margin;
      transition-duration: 0.3s;
      transition-timing-function: ease;

      p {
        margin: 0;
      }

      span {
        font-weight: 300;
      }
    }

    .copy {
      color: #333;
      padding: 1em 1.4em;

      background: #eee;
      border-radius: 0.3rem;

      box-shadow: inset 0px 1px 5px rgba(#000, 0.2), 0px 1px 5px rgba(#000, 0.9);
      text-shadow: 0px 1px 3px rgba(#fff, 0.6);

      max-width: 850px;
      margin-left: 0.5em;
    }

    @media (max-width: 760px) {
      blockquote {
        max-width: unset;
        width: unset;
        margin-top: -1em;
        margin-bottom: 1em;
      }
    }

    @media (max-width: 865px) {
      .copy {
        margin-right: 0.5em;
      }

      blockquote {
        margin-right: 1em;
      }
    }

  }

  .pager {
    margin: -1.5em 1em 1em;
    position: static;

    .btn {
      min-width: unset;
    }
  }
}
