
.pager {

  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  margin-top: -1em;

  &.top {
    margin: 0 0 1em;
  }

  > div {
    display: flex;
    flex-basis: 23%;
  }

  .btn {
    font-size: 0.9em;
    box-shadow: 0px 1px 5px rgba(#000, 0.5);
    color: white;
    white-space: nowrap;
    width: 100%;
    // min-width: 75%;
    display: flex;
  }

  .btn.left {
    justify-content: flex-start;
  }

  .btn.right {
    justify-content: flex-end;
  }

  span.svg-icon {
    margin-top: 1px;
  }
}
