$color_1: #333333;
$color_2: #aaa;
$color_3: black;
$color_4: red;
$color_5: purple;
$color_6: white;
$font-family_1: Arial, sans-serif;
$background-color_1: white;
$background-color_2: #EEEEEE;
$background-color_3: rgb(0,0,0);
$background-color_4: rgba(0,0,0,0.4);
$background-color_5: #fefefe;

/* The Modal (background) */
/* Modal Content/Box */
/* Modal Content/Box */
/* Modal Content/Box */
/* The Close Button */
/* unvisited link */
/* visited link */
/* mouse over link */
html {
	width: 100%;
	height: 100%;
	margin: 0px;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
}
#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
}
svg {
	background-color: $background-color_1;
}
.onHoverText {
	text-decoration: underline;
}
.chart {
	font-family: $font-family_1;
	font-size: 12px;
}
input[type="file"] {
	display: none;
}
.custom-file-upload {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: $background-color_2;
	color: $color_1;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	cursor: pointer;
}
.axis {
	path {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
}
.bar-onset-mtf {
	fill: #c062ff;
}
.bar-onset-ftm {
	fill: #c062ff;
}
.bar-in-progress {
	fill: #00a292;
}
.bar-max-effect-mtf {
	fill: #FF69B4;
}
.bar-before-ftm {
	fill: #FF69B4;
}
.bar-needs-scheduling {
	fill: #CC0000;
}
.bar-variable {
	fill: #c1c400;
}
.bar-done {
	fill: #858585;
}
.bar-scheduled {
	fill: #669900;
}
.bar-tbd {
	fill: #ff9900;
}
.bar-before-mtf {
	fill: #20c4ff;
}
.bar-max-effect-ftm {
	fill: #20c4ff;
}
.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: $background-color_2;
	color: $color_1;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
.mtf-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $background-color_3;
	background-color: $background-color_4;
}
.mtf-modal-content {
	background-color: $background-color_5;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.ftm-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $background-color_3;
	background-color: $background-color_4;
}
.ftm-modal-content {
	background-color: $background-color_5;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.edit-plan-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $background-color_3;
	background-color: $background-color_4;
}
.edit-plan-modal-content {
	background-color: $background-color_5;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.close {
	color: $color_2;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover {
		color: $color_3;
		text-decoration: none;
		cursor: pointer;
	}
	&:focus {
		color: $color_3;
		text-decoration: none;
		cursor: pointer;
	}
}
a {
	&:link {
		color: $color_4;
	}
	&:visited {
		color: $color_5;
	}
	&:hover {
		color: $color_6;
	}
}
