
  <div class="dropdown-menu" aria-labelledby="nav-gdb">
    <a href="/en/gdb/printable"                class="{{#is meta.url '/en/gdb/printable'               }}active {{/is}}dropdown-item">View All</a>
    <a href="/en/gdb.pdf"                      class="dropdown-item">Download PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
    <hr class="dropdown-divider">
    <a href="/en/gdb/"                         class="{{#is meta.url '/en/gdb/index' '/'               }}active {{/is}}dropdown-item">Introduction</a>
    <a href="/en/gdb/what-is-gender"           class="{{#is meta.url '/en/gdb/what-is-gender'          }}active {{/is}}dropdown-item">What is Gender?</a>
    <a href="/en/gdb/history"                  class="{{#is meta.url '/en/gdb/history'                 }}active {{/is}}dropdown-item">The History of Gender Dysphoria</a>
    <a href="/en/gdb/euphoria"                 class="{{#is meta.url '/en/gdb/euphoria'                }}active {{/is}}dropdown-item">Gender Euphoria</a>
    <a href="/en/gdb/physical-dysphoria"       class="{{#is meta.url '/en/gdb/physical-dysphoria'      }}active {{/is}}dropdown-item">Physical Dysphoria</a>
    <a href="/en/gdb/biochemical-dysphoria"    class="{{#is meta.url '/en/gdb/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Biochemical Dysphoria</a>
    <a href="/en/gdb/social-dysphoria"         class="{{#is meta.url '/en/gdb/social-dysphoria'        }}active {{/is}}dropdown-item">Social Dysphoria</a>
    <a href="/en/gdb/societal-dysphoria"       class="{{#is meta.url '/en/gdb/societal-dysphoria'      }}active {{/is}}dropdown-item">Societal Dysphoria</a>
    <a href="/en/gdb/sexual-dysphoria"         class="{{#is meta.url '/en/gdb/sexual-dysphoria'        }}active {{/is}}dropdown-item">Sexual Dysphoria</a>
    <a href="/en/gdb/presentational-dysphoria" class="{{#is meta.url '/en/gdb/presentational-dysphoria'}}active {{/is}}dropdown-item">Presentational Dysphoria</a>
    <a href="/en/gdb/existential-dysphoria"     class="{{#is meta.url '/en/gdb/existential-dysphoria'  }}active {{/is}}dropdown-item">Existential Dysphoria</a>
    <a href="/en/gdb/managed-dysphoria"        class="{{#is meta.url '/en/gdb/managed-dysphoria'       }}active {{/is}}dropdown-item">Managed Dysphoria</a>
    <a href="/en/gdb/impostor-syndrome"        class="{{#is meta.url '/en/gdb/impostor-syndrome'       }}active {{/is}}dropdown-item">Impostor Syndrome</a>
    <a href="/en/gdb/diagnoses"                class="{{#is meta.url '/en/gdb/diagnoses'               }}active {{/is}}dropdown-item">Clinical Diagnoses</a>
    <a href="/en/gdb/treatment"                class="{{#is meta.url '/en/gdb/treatment'               }}active {{/is}}dropdown-item">Treating Gender Dysphoria</a>
    <a href="/en/gdb/causes"                   class="{{#is meta.url '/en/gdb/causes'                  }}active {{/is}}dropdown-item">Causes of Gender Dysphoria</a>
    <a href="/en/gdb/chromosomes"              class="{{#is meta.url '/en/gdb/chromosomes'             }}active {{/is}}dropdown-item">Chromosomes</a>
    <a href="/en/gdb/hormones"                 class="{{#is meta.url '/en/gdb/hormones'                }}active {{/is}}dropdown-item">How Hormones Work</a>
    <a href="/en/gdb/second-puberty-masc"      class="{{#is meta.url '/en/gdb/second-puberty-masc'     }}active {{/is}}dropdown-item">Androgenic Second Puberty 101</a>
    <a href="/en/gdb/second-puberty-fem"       class="{{#is meta.url '/en/gdb/second-puberty-fem'      }}active {{/is}}dropdown-item">Estrogenic Second Puberty 101</a>
    <a href="/en/gdb/conclusion"               class="{{#is meta.url '/en/gdb/conclusion'              }}active {{/is}}dropdown-item">Conclusion</a>
  </div>
