
<a href="/en/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">The Gender Dysphoria Bible</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/en/printable"                class="{{#is meta.url '/en/printable'               }}active {{/is}}dropdown-item">View All</a>
  <a href="/gdb-en.pdf"                     class="dropdown-item">Download PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/en/"                         class="{{#is meta.url '/en/index' '/'               }}active {{/is}}dropdown-item">Introduction</a>
  <a href="/en/what-is-gender"           class="{{#is meta.url '/en/what-is-gender'          }}active {{/is}}dropdown-item">What is Gender?</a>
  <a href="/en/history"                  class="{{#is meta.url '/en/history'                 }}active {{/is}}dropdown-item">The History of Gender Dysphoria</a>
  <a href="/en/euphoria"                 class="{{#is meta.url '/en/euphoria'                }}active {{/is}}dropdown-item">Gender Euphoria</a>
  <a href="/en/physical-dysphoria"       class="{{#is meta.url '/en/physical-dysphoria'      }}active {{/is}}dropdown-item">Physical Dysphoria</a>
  <a href="/en/biochemical-dysphoria"    class="{{#is meta.url '/en/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Biochemical Dysphoria</a>
  <a href="/en/social-dysphoria"         class="{{#is meta.url '/en/social-dysphoria'        }}active {{/is}}dropdown-item">Social Dysphoria</a>
  <a href="/en/societal-dysphoria"       class="{{#is meta.url '/en/societal-dysphoria'      }}active {{/is}}dropdown-item">Societal Dysphoria</a>
  <a href="/en/sexual-dysphoria"         class="{{#is meta.url '/en/sexual-dysphoria'        }}active {{/is}}dropdown-item">Sexual Dysphoria</a>
  <a href="/en/presentational-dysphoria" class="{{#is meta.url '/en/presentational-dysphoria'}}active {{/is}}dropdown-item">Presentational Dysphoria</a>
  <a href="/en/existential-dysphoria"    class="{{#is meta.url '/en/existential-dysphoria'   }}active {{/is}}dropdown-item">Existential Dysphoria</a>
  <a href="/en/managed-dysphoria"        class="{{#is meta.url '/en/managed-dysphoria'       }}active {{/is}}dropdown-item">Managed Dysphoria</a>
  <a href="/en/impostor-syndrome"        class="{{#is meta.url '/en/impostor-syndrome'       }}active {{/is}}dropdown-item">Impostor Syndrome</a>
  <a href="/en/am-i-trans       "        class="{{#is meta.url '/en/am-i-trans'              }}active {{/is}}dropdown-item">Am I Trans?</a>
  <a href="/en/diagnoses"                class="{{#is meta.url '/en/diagnoses'               }}active {{/is}}dropdown-item">Clinical Diagnoses</a>
  <a href="/en/treatment"                class="{{#is meta.url '/en/treatment'               }}active {{/is}}dropdown-item">Treating Gender Dysphoria</a>
  <a href="/en/causes"                   class="{{#is meta.url '/en/causes'                  }}active {{/is}}dropdown-item">Causes of Gender Dysphoria</a>
  <a href="/en/chromosomes"              class="{{#is meta.url '/en/chromosomes'             }}active {{/is}}dropdown-item">Chromosomes</a>
  <a href="/en/hormones"                 class="{{#is meta.url '/en/hormones'                }}active {{/is}}dropdown-item">How Hormones Work</a>
  <a href="/en/second-puberty-masc"      class="{{#is meta.url '/en/second-puberty-masc'     }}active {{/is}}dropdown-item">Androgenic Second Puberty 101</a>
  <a href="/en/second-puberty-fem"       class="{{#is meta.url '/en/second-puberty-fem'      }}active {{/is}}dropdown-item">Estrogenic Second Puberty 101</a>
  <a href="/en/conclusion"               class="{{#is meta.url '/en/conclusion'              }}active {{/is}}dropdown-item">Conclusion</a>
</div>
