<div class="disclaimer"><div>
  <strong>Biblia Dysforii Płciowej nie jest wyryta w kamieniu</strong>
  <p>Zawartość tej strony będzie zmieniała się z czasem, gdy dodawane będą nowe treści, a istniejące – rewizowane, aby objąć jak największy zakres tematyki dysforii płciowej. W aktualnej wersji bardzo brakuje treści obejmujących dysforię specyficzną dla tożsamości niebinarnych, apłciowych i genderfluid, jak również narracje trzeciej płci czy two-spirit. BDP jest projektem open source i utrzymywanym z wsparcia finansowego, <a href="/contributing/">wszelki wkład jest na wagę złota</a>.</p>
</div></div>
