
<a href="/pl/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">Biblia Dysforii Płciowej</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/pl/do-druku"                 class="{{#is meta.url '/pl/do-druku'                 }}active {{/is}}dropdown-item">Zobacz wszystko</a>
  <a href="/gdb-pl.pdf"                     class="dropdown-item">Pobierz PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/pl/"                         class="{{#is meta.url '/pl/index' '/pl/'             }}active {{/is}}dropdown-item">Wstęp</a>
  <a href="/pl/czym-jest-gender"         class="{{#is meta.url '/pl/czym-jest-gender'         }}active {{/is}}dropdown-item">Czym jest gender?</a>
  <a href="/pl/historia"                 class="{{#is meta.url '/pl/historia'                 }}active {{/is}}dropdown-item">Historia dysforii płciowej</a>
  <a href="/pl/euforia"                  class="{{#is meta.url '/pl/euforia'                  }}active {{/is}}dropdown-item">Euforia płciowa</a>
  <a href="/pl/dysforia-fizyczna"        class="{{#is meta.url '/pl/dysforia-fizyczna'        }}active {{/is}}dropdown-item">Dysforia fizyczna</a>
  <a href="/pl/dysforia-biochemiczna"    class="{{#is meta.url '/pl/dysforia-biochemiczna'    }}active {{/is}}dropdown-item">Dysforia biochemiczna</a>
  <a href="/pl/dysforia-spoleczna"       class="{{#is meta.url '/pl/dysforia-spoleczna'       }}active {{/is}}dropdown-item">Dysforia społeczna</a>
  <a href="/pl/dysforia-roli-spolecznej" class="{{#is meta.url '/pl/dysforia-roli-spolecznej' }}active {{/is}}dropdown-item">Dysforia roli społecznej</a>
  <a href="/pl/dysforia-seksualna"       class="{{#is meta.url '/pl/dysforia-seksualna'       }}active {{/is}}dropdown-item">Dysforia na tle seksualności</a>
  <a href="/pl/dysforia-prezencji"       class="{{#is meta.url '/pl/dysforia-prezencji'       }}active {{/is}}dropdown-item">Dysforia prezencji</a>
  <a href="/pl/dysforia-egzystencjalna"  class="{{#is meta.url '/pl/dysforia-egzystencjalna'  }}active {{/is}}dropdown-item">Dysforia egzystencjalna</a>
  <a href="/pl/mechanizmy-obronne"       class="{{#is meta.url '/pl/mechanizmy-obronne'       }}active {{/is}}dropdown-item">Mechanizmy obronne</a>
  <a href="/pl/syndrom-oszusta"          class="{{#is meta.url '/pl/syndrom-oszusta'          }}active {{/is}}dropdown-item">Syndrom oszusta</a>
  <a href="/pl/czy-jestem-trans"         class="{{#is meta.url '/pl/czy-jestem-trans'         }}active {{/is}}dropdown-item">Czy jestem trans?</a>
  <a href="/pl/diagnoza"                 class="{{#is meta.url '/pl/diagnoza'                 }}active {{/is}}dropdown-item">Diagnoza kliniczna</a>
  <a href="/pl/leczenie"                 class="{{#is meta.url '/pl/leczenie'                 }}active {{/is}}dropdown-item">Leczenie dysforii płciowej</a>
  <a href="/pl/przyczyny"                class="{{#is meta.url '/pl/przyczyny'                }}active {{/is}}dropdown-item">Przyczyny dysforii płciowej</a>
  <a href="/pl/chromosomy"               class="{{#is meta.url '/pl/chromosomy'               }}active {{/is}}dropdown-item">Chromosomy</a>
  <a href="/pl/hormony"                  class="{{#is meta.url '/pl/hormony'                  }}active {{/is}}dropdown-item">Jak działają hormony</a>
  <a href="/pl/drugie-dojrzewanie-T"     class="{{#is meta.url '/pl/drugie-dojrzewanie-T'     }}active {{/is}}dropdown-item">Drugie dojrzewanie androgenowe od podstaw</a>
  <a href="/pl/drugie-dojrzewanie-E"     class="{{#is meta.url '/pl/drugie-dojrzewanie-E'     }}active {{/is}}dropdown-item">Drugie dojrzewanie estrogenowe od podstaw</a>
  <a href="/pl/podsumowanie"             class="{{#is meta.url '/pl/podsumowanie'             }}active {{/is}}dropdown-item">Podsumowanie</a>
</div>
