<div class="disclaimer"><div>
  <strong>La Bibbia della Disforia di Genere è un documento in evoluzione</strong>
  <p>I contenuti di questo sito saranno aggiornati con il passare del tempo, con nuove aggiunte e ampliamenti per descrivere la disforia di genere a tutto tondo. L'attuale versione del documento infatti presenta grosse lacune riguardo alle persone non binaria, agender e genderfluid, così come per le informazioni riguardanti il terzo genere o l'identità due-spiriti. La BDG è un progetto open source e finanziato pubblicamente e <a href="/contributing/">nuovi contributi sono estremamente apprezzati</a>.</p>
</div></div>
