
<a href="/it/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">La Bibbia della Disforia di Genere</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/it/stampabile"                class="{{#is meta.url '/it/stampabile'               }}active {{/is}}dropdown-item">Vedi Tutto</a>
  <a href="/gdb.pdf"                     class="dropdown-item">Scarica in PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/it/"                         class="{{#is meta.url '/it/index' '/'               }}active {{/is}}dropdown-item">Presentazione</a>
  <a href="/it/che-cosa-e-il-genere"           class="{{#is meta.url '/it/che-cosa-e-il-genere'          }}active {{/is}}dropdown-item">Che Cos'è il Genere?</a>
  <a href="/it/storia"                  class="{{#is meta.url '/it/storia'                 }}active {{/is}}dropdown-item">Storia della Disforia di Genere</a>
  <a href="/it/euforia"                 class="{{#is meta.url '/it/euforia'                }}active {{/is}}dropdown-item">Euforia di Genere</a>
  <a href="/it/disforia-fisica"       class="{{#is meta.url '/it/disforia-fisica'      }}active {{/is}}dropdown-item">Disforia Fisica</a>
  <a href="/it/disforia-biochimica"    class="{{#is meta.url '/it/disforia-biochimica'   }}active {{/is}}dropdown-item">Disforia Biochimica</a>
  <a href="/it/disforia-sociale"         class="{{#is meta.url '/it/disforia-sociale'        }}active {{/is}}dropdown-item">Disforia Sociale</a>
  <a href="/it/disforia-di-ruolo"       class="{{#is meta.url '/it/disforia-di-ruolo'      }}active {{/is}}dropdown-item">Disforia di Ruolo</a>
  <a href="/it/disforia-sessuale"         class="{{#is meta.url '/it/disforia-sessuale'        }}active {{/is}}dropdown-item">Disforia Sessuale</a>
  <a href="/it/disforia-di-presentazione" class="{{#is meta.url '/it/disforia-di-presentazione'}}active {{/is}}dropdown-item">Disforia di Presentazione</a>
  <a href="/it/disforia-esistenziale"    class="{{#is meta.url '/it/disforia-esistenziale'   }}active {{/is}}dropdown-item">Disforia Esistenziale</a>
  <a href="/it/disforia-gestita"        class="{{#is meta.url '/it/disforia-gestita'       }}active {{/is}}dropdown-item">Gestione della Disforia</a>
  <a href="/it/sindrome-dell-impostore"        class="{{#is meta.url '/it/sindrome-dell-impostore'       }}active {{/is}}dropdown-item">Sindrome dell'Impostore</a>
  <a href="/it/sono-trans"               class="{{#is meta.url '/it/sono-trans'              }}active {{/is}}dropdown-item">Sono Trans??</a>
  <a href="/it/diagnosi"                class="{{#is meta.url '/it/diagnosi'               }}active {{/is}}dropdown-item">Diagnosticare la Disforia</a>
  <a href="/it/trattamento"                class="{{#is meta.url '/it/trattamento'               }}active {{/is}}dropdown-item">Trattamento della Disforia di Genere</a>
  <a href="/it/cause"                   class="{{#is meta.url '/it/cause'                  }}active {{/is}}dropdown-item">Cause della Disforia di Genere</a>
  <a href="/it/cromosomi"              class="{{#is meta.url '/it/cromosomi'             }}active {{/is}}dropdown-item">Cromosomi</a>
  <a href="/it/ormoni"                 class="{{#is meta.url '/it/ormoni'                }}active {{/is}}dropdown-item">Come Funzionano gli Ormoni</a>
  <a href="/it/seconda-puberta-masc"      class="{{#is meta.url '/it/seconda-puberta-masc'     }}active {{/is}}dropdown-item">Seconda Pubertà Androgenica</a>
  <a href="/it/seconda-puberta-fem"       class="{{#is meta.url '/it/seconda-puberta-fem'      }}active {{/is}}dropdown-item">Seconda Pubertà Estrogenica</a>
  <a href="/it/conclusione"               class="{{#is meta.url '/it/conclusione'              }}active {{/is}}dropdown-item">Conclusione</a>
</div>
