<div class="disclaimer"><div>
  <strong>性别烦躁指南是一份有生命的指南</strong>
  <p>此网站的内容会随性别烦躁概念的扩大而增改内容。现有的迭代中极度缺乏描述非二元性别、无性别及流性别的性别烦躁内容，也缺乏关于第三性别和双灵的叙述。本指南是开源且由公众资助的项目， <a href="/contributing/">非常欢迎您的贡献</a>.</p>
</div></div>
