
<a href="/zh/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">性别烦躁指南</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/zh/printable"                class="{{#is meta.url '/zh/printable'    }}active {{/is}}dropdown-item">查看全部</a>
  <a href="/gdb-cn.pdf"                class="{{#is meta.url '/zh/printable'    }}active {{/is}}dropdown-item">下载PDF</a>
  <hr class="dropdown-divider">
  <a href="/zh/"                         class="{{#is meta.url '/zh/index' '/'    }}active {{/is}}dropdown-item">简介</a>
  <a href="/zh/什么是性别"                class="{{#is meta.url '/zh/什么是性别'     }}active {{/is}}dropdown-item">什么是性别？</a>
  <a href="/zh/历史"                     class="{{#is meta.url '/zh/历史'          }}active {{/is}}dropdown-item">性别烦躁简史</a>
  <a href="/zh/亢奋"                     class="{{#is meta.url '/zh/亢奋'          }}active {{/is}}dropdown-item">性别亢奋</a>
  <a href="/zh/身体烦躁"                 class="{{#is meta.url '/zh/身体烦躁'       }}active {{/is}}dropdown-item">身体烦躁</a>
  <a href="/zh/生化烦躁"                 class="{{#is meta.url '/zh/生化烦躁'       }}active {{/is}}dropdown-item">生化烦躁</a>
  <a href="/zh/社交烦躁"                 class="{{#is meta.url '/zh/社交烦躁'       }}active {{/is}}dropdown-item">社交烦躁</a>
  <a href="/zh/社会烦躁"                 class="{{#is meta.url '/zh/社会烦躁'       }}active {{/is}}dropdown-item">社会烦躁</a>
  <a href="/zh/性烦躁"                   class="{{#is meta.url '/zh/性烦躁'        }}active {{/is}}dropdown-item">性烦躁</a>
  <a href="/zh/外表烦躁"                 class="{{#is meta.url '/zh/外表烦躁'       }}active {{/is}}dropdown-item">外表烦躁</a>
  <a href="/zh/存在烦躁"                 class="{{#is meta.url '/zh/存在烦躁'       }}active {{/is}}dropdown-item">存在烦躁</a>
  <a href="/zh/掌控烦躁"                 class="{{#is meta.url '/zh/掌控烦躁'       }}active {{/is}}dropdown-item">掌控烦躁</a>
  <a href="/zh/冒名顶替综合征"            class="{{#is meta.url '/zh/冒名顶替综合征'  }}active {{/is}}dropdown-item">冒名顶替综合征</a>
  <a href="/zh/诊断"                    class="{{#is meta.url '/zh/诊断'           }}active {{/is}}dropdown-item">临床诊断</a>
  <a href="/zh/治疗"                    class="{{#is meta.url '/zh/治疗'           }}active {{/is}}dropdown-item">治疗性别烦躁</a>
  <a href="/zh/成因"                    class="{{#is meta.url '/zh/成因'           }}active {{/is}}dropdown-item">性别烦躁的成因</a>
  <a href="/zh/染色体"                  class="{{#is meta.url '/zh/染色体'          }}active {{/is}}dropdown-item">染色体</a>
  <a href="/zh/激素"                    class="{{#is meta.url '/zh/激素'           }}active {{/is}}dropdown-item">激素的作用</a>
  <a href="/zh/雄二青春期"               class="{{#is meta.url '/zh/雄二青春期'      }}active {{/is}}dropdown-item">“雄性激素促成的第二青春期”导论</a>
  <a href="/zh/雌二青春期"               class="{{#is meta.url '/zh/雌二青春期'      }}active {{/is}}dropdown-item">“雌性激素促成的第二青春期”导论 101</a>
  <a href="/zh/结语"                   class="{{#is meta.url '/zh/结语'            }}active {{/is}}dropdown-item">结语</a>
</div>
