<div class="disclaimer"><div>
  <strong>A Gender Diszfória Biblia egy élõ dokumentum</strong>
  <p>Az oldal tartalma bármikor frissülhet új kiegészítésekkel és módosításokkal, hogy tovább bõvítsék a nemi diszfóriáról kapcsolatos információk teljes spektrumát. Jelenlegi állapotában hiányzik a nem-bináris, agender &amp; genderfluid specifikus diszfória, valamint a harmadik nemûek és a két szellemûek narratívái. A GDB egy nyílt forráskódú és közfinanszírozott projekt, <a href="/contributing/">bármilyen támogatást rendkívül szívesen fogadunk</a>.</p>
</div></div>
