
<a href="/hu/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">A Gender Diszfória Biblia</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
 <a href="/hu/nyomtathato" class="{{#is meta.url '/hu/nyomtathato' }}active {{/is}}dropdown-item">Minden megnyitása</a>
 <a href="/gdb-hu.pdf" class="dropdown-item">PDF Letöltése {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
 <hr class="dropdown-divider">
 <a href="/hu/" class="{{#is meta.url '/hu/index' '/' }}active {{/is}}dropdown-item">Előszó</a>
 <a href="/hu/mi-is-az-a-gender" class="{{#is meta.url '/hu/mi-is-az-a-gender' }}active {{/is}}dropdown-item">Mi is az a Gender?</a>
 <a href="/hu/tortenelmi-attekintes" class="{{#is meta.url '/hu/tortenelmi-attekintes' }}active {{/is}}dropdown-item">Történelmi áttekintés a Nemi Diszfóriáról</a>
 <a href="/hu/euforia" class="{{#is meta.url '/hu/euforia' }}active {{/is}}dropdown-item">Nemi Eufória</a>
 <a href="/hu/testi-diszforia" class="{{#is meta.url '/hu/testi-diszforia' }}active {{/is}}dropdown-item">Testi Diszfória</a>
 <a href="/hu/biokemiai-diszforia" class="{{#is meta.url '/hu/biokemiai-diszforia' }}active {{/is}}dropdown-item">Biokémiai Diszfória</a>
 <a href="/hu/tarsasagi-diszforia" class="{{#is meta.url '/hu/tarsasagi-diszforia' }}active {{/is}}dropdown-item">Társasági Diszfória</a>
 <a href="/hu/tarsadalmi-diszforia" class="{{#is meta.url '/hu/tarsadalmi-diszforia' }}active {{/is}}dropdown-item">Társadalmi Diszfória</a>
 <a href="/hu/szexualis-diszforia" class="{{#is meta.url '/hu/szexualis-diszforia' }}active {{/is}}dropdown-item">Szexuális Diszfória</a>
 <a href="/hu/kinezeti-diszforia" class="{{#is meta.url '/hu/kinezeti-diszforia'}}active {{/is}}dropdown-item">Kinézeti Diszfória</a>
 <a href="/hu/egzisztencialis-diszforia" class="{{#is meta.url '/hu/egzisztencialis-diszforia' }}active {{/is}}dropdown-item">Egzisztenciális Diszfória</a>
 <a href="/hu/kezelt-diszforia" class="{{#is meta.url '/hu/kezelt-diszforia' }}active {{/is}}dropdown-item">Kezelt Diszfória</a>
 <a href="/hu/imposztor-szindroma" class="{{#is meta.url '/hu/imposztor-szindroma' }}active {{/is}}dropdown-item">Imposztor Szindróma</a>
 <a href="/hu/transz-vagyok" class="{{#is meta.url '/hu/transz-vagyok' }}active {{/is}}dropdown-item">Transz vagyok?</a>
 <a href="/hu/klinikai-diagnozisok" class="{{#is meta.url '/hu/klinikai-diagnozisok' }}active {{/is}}dropdown-item">Klinikai Diagnózisok</a>
 <a href="/hu/kezeles" class="{{#is meta.url '/hu/kezeles' }}active {{/is}}dropdown-item">Nemi Diszfória Kezelése</a>
 <a href="/hu/okok" class="{{#is meta.url '/hu/okok' }}active {{/is}}dropdown-item">Nemi Diszfória Okai</a>
 <a href="/hu/kromoszomak" class="{{#is meta.url '/hu/kromoszomak' }}active {{/is}}dropdown-item">Kromoszómák</a>
 <a href="/hu/hormonok" class="{{#is meta.url '/hu/hormonok' }}active {{/is}}dropdown-item">Hormonok Mûködése</a>
 <a href="/hu/masodik-pubertas-masc" class="{{#is meta.url '/hu/masodik-pubertas-masc' }}active {{/is}}dropdown-item">Androgén Második Pubertás Alapjai</a>
 <a href="/hu/masodik-pubertas-fem" class="{{#is meta.url '/hu/masodik-pubertas-fem' }}active {{/is}}dropdown-item">Ösztrogén-indukált Második Pubertás Alapjai</a>
 <a href="/hu/vegszo" class="{{#is meta.url '/hu/vegszo' }}active {{/is}}dropdown-item">Végszó</a>
</div>
