{
	"extends": "twipped/node",
	"rules": {
		"node/no-unpublished-require": 0,
		"promise/no-native": 0,
    'indent': [ 2, 2, {
      'MemberExpression': 1,
    } ],
    'node/no-unsupported-features/es-syntax': [ 'error' ],
    'node/no-unsupported-features/es-builtins': [ 'error' ],
    'node/no-unsupported-features/node-builtins': [ 'error' ],
    'require-atomic-updates': 0
	}
}
