<div class="disclaimer"><div>
  <strong>《性別不安聖經》 (The Gender Dysphoria Bible) 是一份持續更新的文件</strong>
  <p>網站的內容將隨著時間推移而變化，因為新的增補和修訂將會持續擴展，以涵蓋性別不安的全部範圍。在目前的版本中，它嚴重缺乏針對非二元性別、無性別和流性人的性別不安，以及第三性別和雙靈敘事的描述。《性別不安聖經》(GDB) 是一個開源且由公眾資助的項目； <a href="/contributing/">非常歡迎大家進行貢獻</a>.</p>
</div></div>
