<div class="disclaimer"><div>
  <strong>The Gender Dysphoria Bible is a Living Document</strong>
  <p>The contents of this site will change over time as new additions and revisions are made to further expand upon the full breadth of gender dysphoria. In its current iteration it is severely lacking in dysphoria specific to non-binary, agender, &amp; genderfluid people, as well as third gender and two-spirit narratives. The GDB is an open source and publicly funded project; <a href="/contributing/">contributions are extremely welcome</a>.</p>
</div></div>
