
<a href="/tw/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">性別不安聖經 - The Gender Dysphoria Bible</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/tw/printable"                class="{{#is meta.url '/tw/printable'               }}active {{/is}}dropdown-item">檢視全部</a>
  <a href="/gdb.pdf"                     class="dropdown-item">下載 PDF (英文) {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/tw/"                         class="{{#is meta.url '/tw/index' '/'               }}active {{/is}}dropdown-item">簡介</a>
  <a href="/tw/what-is-gender"           class="{{#is meta.url '/tw/what-is-gender'          }}active {{/is}}dropdown-item">性別是什麼？</a>
  <a href="/tw/history"                  class="{{#is meta.url '/tw/history'                 }}active {{/is}}dropdown-item">性別不安的歷史</a>
  <a href="/tw/euphoria"                 class="{{#is meta.url '/tw/euphoria'                }}active {{/is}}dropdown-item">性別欣快</a>
  <a href="/tw/physical-dysphoria"       class="{{#is meta.url '/tw/physical-dysphoria'      }}active {{/is}}dropdown-item">身體不安</a>
  <a href="/tw/biochemical-dysphoria"    class="{{#is meta.url '/tw/biochemical-dysphoria'   }}active {{/is}}dropdown-item">生化不安</a>
  <a href="/tw/social-dysphoria"         class="{{#is meta.url '/tw/social-dysphoria'        }}active {{/is}}dropdown-item">社交不安</a>
  <a href="/tw/societal-dysphoria"       class="{{#is meta.url '/tw/societal-dysphoria'      }}active {{/is}}dropdown-item">社會不安</a>
  <a href="/tw/sexual-dysphoria"         class="{{#is meta.url '/tw/sexual-dysphoria'        }}active {{/is}}dropdown-item">性慾不安</a>
  <a href="/tw/presentational-dysphoria" class="{{#is meta.url '/tw/presentational-dysphoria'}}active {{/is}}dropdown-item">表現不安</a>
  <a href="/tw/existential-dysphoria"    class="{{#is meta.url '/tw/existential-dysphoria'   }}active {{/is}}dropdown-item">存在不安</a>
  <a href="/tw/managed-dysphoria"        class="{{#is meta.url '/tw/managed-dysphoria'       }}active {{/is}}dropdown-item">應付不安</a>
  <a href="/tw/impostor-syndrome"        class="{{#is meta.url '/tw/impostor-syndrome'       }}active {{/is}}dropdown-item">冒名頂替症候群</a>
  <a href="/tw/am-i-trans"               class="{{#is meta.url '/tw/am-i-trans'              }}active {{/is}}dropdown-item">我是跨嗎?</a>
  <a href="/tw/diagnoses"                class="{{#is meta.url '/tw/diagnoses'               }}active {{/is}}dropdown-item">臨床診斷</a>
  <a href="/tw/treatment"                class="{{#is meta.url '/tw/treatment'               }}active {{/is}}dropdown-item">治療性別不安</a>
  <a href="/tw/causes"                   class="{{#is meta.url '/tw/causes'                  }}active {{/is}}dropdown-item">性別不安的成因</a>
  <a href="/tw/chromosomes"              class="{{#is meta.url '/tw/chromosomes'             }}active {{/is}}dropdown-item">染色體</a>
  <a href="/tw/hormones"                 class="{{#is meta.url '/tw/hormones'                }}active {{/is}}dropdown-item">荷爾蒙如何工作的</a>
  <a href="/tw/second-puberty-masc"      class="{{#is meta.url '/tw/second-puberty-masc'     }}active {{/is}}dropdown-item">雄性第二次青春期 101</a>
  <a href="/tw/second-puberty-fem"       class="{{#is meta.url '/tw/second-puberty-fem'      }}active {{/is}}dropdown-item">雌性第二次青春期 101</a>
  <a href="/tw/conclusion"               class="{{#is meta.url '/tw/conclusion'              }}active {{/is}}dropdown-item">結論</a>
</div>
