<div class="disclaimer"><div>
  <strong>Η Βίβλος της Δυσφορίας Φύλου Είναι Ένα Ζωντανό Έγγραφο</strong>
  <p>Το περιεχόμενο αυτής της ιστοσελίδας ενδέχεται να αλλάξει καθώς γίνονται νέες προσθήκες ή/και αναθεωρήσεις για την ευρύτερη κάλυψη του φάσματος της δυσφορίας φύλου. Στην τρέχουσα μορφή της παρουσιάζει ελλείψεις όσον αφορά τη δυσφορία που αντιμετωπίζουν τα μη-δυαδικα, τα άφυλα, και τα genderfluid άτομα, καθώς και αφηγήσεις σχετικά με το τρίτο φύλο και τα διπλά πνεύματα. Η ΒΔΦ είναι ένα πρότζεκτ ανοικτού κώδικα που χρηματοδοτείται από το κοινό· <a href="/contributing/">οποιαδήποτε συμβολή είναι εξαιρετικά ευπρόσδεκτη</a>.</p>
</div></div>
