
<a href="/el/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">Η Βίβλος της Δυσφορίας Φύλου</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/el/pros-ektypwsh"                class="{{#is meta.url '/el/pros-ektypwsh'               }}active {{/is}}dropdown-item">Προβολή Όλων</a>
  <a href="/gdb.pdf"                     class="dropdown-item">Download PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/el/"                         class="{{#is meta.url '/el/index' '/'               }}active {{/is}}dropdown-item">Εισαγωγή</a>
  <a href="/el/ti-shmainei-gender"           class="{{#is meta.url '/el/ti-shmainei-gender'          }}active {{/is}}dropdown-item">Τι σημαίνει «gender»;</a>
  <a href="/el/istoria"                  class="{{#is meta.url '/el/istoria'                 }}active {{/is}}dropdown-item">Η Ιστορία της Δυσφορίας Φύλου</a>
  <a href="/el/euforia"                 class="{{#is meta.url '/el/euforia'                }}active {{/is}}dropdown-item">Ευφορία Φύλου</a>
  <a href="/el/swmatikh-dysforia"       class="{{#is meta.url '/el/swmatikh-dysforia'      }}active {{/is}}dropdown-item">Σωματική Δυσφορία</a>
  <a href="/el/vioxhmikh-dysforia"    class="{{#is meta.url '/el/vioxhmikh-dysforia'   }}active {{/is}}dropdown-item">Βιοχημική Δυσφορία</a>
  <a href="/el/diaproswpikh-dysforia"         class="{{#is meta.url '/el/diaproswpikh-dysforia'        }}active {{/is}}dropdown-item">Διαπροσωπική Δυσφορία</a>
  <a href="/el/koinwnikh-dysforia"       class="{{#is meta.url '/el/koinwnikh-dysforia'      }}active {{/is}}dropdown-item">Κοινωνική Δυσφορία</a>
  <a href="/el/seksoualikh-dysforia"         class="{{#is meta.url '/el/seksoualikh-dysforia'        }}active {{/is}}dropdown-item">Σεξουαλική Δυσφορία</a>
  <a href="/el/parousiastikh-dysforia" class="{{#is meta.url '/el/parousiastikh-dysforia'}}active {{/is}}dropdown-item">Παρουσιαστική Δυσφορία</a>
  <a href="/el/yparksiakh-dysforia"    class="{{#is meta.url '/el/yparksiakh-dysforia'   }}active {{/is}}dropdown-item">Υπαρξιακή Δυσφορία</a>
  <a href="/el/elegxomenh-dysforia"        class="{{#is meta.url '/el/elegxomenh-dysforia'       }}active {{/is}}dropdown-item">Ελεγχόμενη Δυσφορία</a>
  <a href="/el/syndromo-tou-apatewna"        class="{{#is meta.url '/el/syndromo-tou-apatewna'       }}active {{/is}}dropdown-item">Σύνδρομο του Απατεώνα</a>
  <a href="/el/eimai-trans"        class="{{#is meta.url '/el/eimai-trans'              }}active {{/is}}dropdown-item">Είμαι τρανς;</a>
  <a href="/el/diagnwseis"                class="{{#is meta.url '/el/diagnwseis'               }}active {{/is}}dropdown-item">Κλινικές Διαγνώσεις</a>
  <a href="/el/perithalpsh"                class="{{#is meta.url '/el/perithalpsh'               }}active {{/is}}dropdown-item">Περίθαλψη της Δυσφορίας Φύλου</a>
  <a href="/el/aities"                   class="{{#is meta.url '/el/aities'                  }}active {{/is}}dropdown-item">Αιτίες της Δυσφορίας Φύλου</a>
  <a href="/el/xrwmoswmata"              class="{{#is meta.url '/el/xrwmoswmata'             }}active {{/is}}dropdown-item">Χρωμοσώματα</a>
  <a href="/el/ormones"                 class="{{#is meta.url '/el/ormones'                }}active {{/is}}dropdown-item">Πώς Λειτουργούν οι Ορμόνες</a>
  <a href="/el/deuterh-efhveia-andr"      class="{{#is meta.url '/el/deuterh-efhveia-andr'     }}active {{/is}}dropdown-item">Εισαγωγή στην Ανδρογονική «2η Εφηβεία»</a>
  <a href="/el/deuterh-efhveia-gyn"       class="{{#is meta.url '/el/deuterh-efhveia-gyn'      }}active {{/is}}dropdown-item">Εισαγωγή στην Οιστρογονική «2η Εφηβεία»</a>
  <a href="/el/symperasma"               class="{{#is meta.url '/el/symperasma'              }}active {{/is}}dropdown-item">Συμπέρασμα</a>
</div>
