<div class="disclaimer"><div>
  <strong>젠더 불쾌감 바이블은 살아 숨쉬는 문서입니다.</strong>
  <p>이 사이트의 내용은 젠더 불쾌감의 전반적인 범위를 확장하기 위해 내용 추가 및 수정이 이루어짐에 따라 시간이 지나면서 계속 변경될 예정입니다. 현재 버전에서는 논바이너리, 에이젠더 및 멘더플루이드에 특정한 불쾌감 뿐 아니라 제3의 젠더와 투스피릿의 서사도 극심하게 부족합니다. GDB는 오픈소스이고 공금 자금으로 지원되는 프로젝트이며, <a href="/contributing/">기여자들을 대환영 하고 있습니다</a>.</p>
</div></div>
