<div class="disclaimer"><div>
  <strong>젠더 불쾌감 바이블은 살아 숨 쉬는 문서입니다.</strong>
  <p>이 사이트의 내용은 젠더 불쾌감의 전반적인 범위를 확장하기 위해 내용 추가와 수정이 이루어집니다. 따라서 시간이 지나면서 내용이 계속 변경될 예정입니다. 현재 버전에서는 논바이너리, 에이젠더, 그리고 젠더플루이드에 특정한 불쾌감 뿐 아니라 제3의 젠더, 투스피릿의 서사도 매우 부족합니다. 젠더 불쾌감 바이블은 오픈소스이며 공금 자금으로 운영되는 프로젝트이고, <a href="/contributing/">기여자들을 대환영하고 있습니다</a>.</p>
</div></div>
