
<a href="/ko/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">젠더 불쾌감 바이블</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/ko/printable"                class="{{#is meta.url '/ko/printable'               }}active {{/is}}dropdown-item">모두 보기</a>
  <a href="/ko.pdf"                     class="dropdown-item">PDF 다운로드하기 {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/ko/"                         class="{{#is meta.url '/ko/index' '/'               }}active {{/is}}dropdown-item">소개</a>
  <a href="/ko/what-is-gender"           class="{{#is meta.url '/ko/what-is-gender'          }}active {{/is}}dropdown-item">젠더가 뭔가요?</a>
  <a href="/ko/history"                  class="{{#is meta.url '/ko/history'                 }}active {{/is}}dropdown-item">젠더 불쾌감의 역사</a>
  <a href="/ko/euphoria"                 class="{{#is meta.url '/ko/euphoria'                }}active {{/is}}dropdown-item">젠더 행복감</a>
  <a href="/ko/physical-dysphoria"       class="{{#is meta.url '/ko/physical-dysphoria'      }}active {{/is}}dropdown-item">신체적 불쾌감</a>
  <a href="/ko/biochemical-dysphoria"    class="{{#is meta.url '/ko/biochemical-dysphoria'   }}active {{/is}}dropdown-item">생화학적 불쾌감</a>
  <a href="/ko/social-dysphoria"         class="{{#is meta.url '/ko/social-dysphoria'        }}active {{/is}}dropdown-item">Social Dysphoria</a>
  <a href="/ko/societal-dysphoria"       class="{{#is meta.url '/ko/societal-dysphoria'      }}active {{/is}}dropdown-item">Societal Dysphoria</a>
  <a href="/ko/sexual-dysphoria"         class="{{#is meta.url '/ko/sexual-dysphoria'        }}active {{/is}}dropdown-item">성적 불쾌감</a>
  <a href="/ko/presentational-dysphoria" class="{{#is meta.url '/ko/presentational-dysphoria'}}active {{/is}}dropdown-item">표현 방식에 대한 불쾌감</a>
  <a href="/ko/existential-dysphoria"    class="{{#is meta.url '/ko/existential-dysphoria'   }}active {{/is}}dropdown-item">존재론적 불쾌감</a>
  <a href="/ko/managed-dysphoria"        class="{{#is meta.url '/ko/managed-dysphoria'       }}active {{/is}}dropdown-item">관리된 불쾌감</a>
  <a href="/ko/impostor-syndrome"        class="{{#is meta.url '/ko/impostor-syndrome'       }}active {{/is}}dropdown-item">가면 증후군</a>
  <a href="/ko/am-i-trans       "        class="{{#is meta.url '/ko/am-i-trans'              }}active {{/is}}dropdown-item">제가 트랜스젠더일까요?</a>
  <a href="/ko/diagnoses"                class="{{#is meta.url '/ko/diagnoses'               }}active {{/is}}dropdown-item">임상 진단</a>
  <a href="/ko/treatment"                class="{{#is meta.url '/ko/treatment'               }}active {{/is}}dropdown-item">젠더 불쾌감 치료</a>
  <a href="/ko/causes"                   class="{{#is meta.url '/ko/causes'                  }}active {{/is}}dropdown-item">젠더 불쾌감의 원인</a>
  <a href="/ko/chromosomes"              class="{{#is meta.url '/ko/chromosomes'             }}active {{/is}}dropdown-item">염색체</a>
  <a href="/ko/hormones"                 class="{{#is meta.url '/ko/hormones'                }}active {{/is}}dropdown-item">호르몬의 작용 방식</a>
  <a href="/ko/second-puberty-masc"      class="{{#is meta.url '/ko/second-puberty-masc'     }}active {{/is}}dropdown-item">안드로겐성 2차 사춘기 101</a>
  <a href="/ko/second-puberty-fem"       class="{{#is meta.url '/ko/second-puberty-fem'      }}active {{/is}}dropdown-item">에스트로겐성 2차 사춘기 101</a>
  <a href="/ko/conclusion"               class="{{#is meta.url '/ko/conclusion'              }}active {{/is}}dropdown-item">결론</a>
</div>
