
<a href="/ko/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">젠더 불쾌감 바이블</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/ko/printable"                class="{{#is meta.url '/ko/printable'               }}active {{/is}}dropdown-item">모두 보기</a>
  <a href="/ko.pdf"                     class="dropdown-item">PDF 다운로드하기 {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/ko/"                         class="{{#is meta.url '/ko/index' '/'               }}active {{/is}}dropdown-item">소개</a>
  <a href="/ko/젠더가-무엇인가요"            class="{{#is meta.url '/ko/젠더가-무엇인가요'          }}active {{/is}}dropdown-item">젠더가 뭔가요?</a>
  <a href="/ko/역사"                      class="{{#is meta.url '/ko/역사'                 }}active {{/is}}dropdown-item">젠더 불쾌감의 역사</a>
  <a href="/ko/행복감"                     class="{{#is meta.url '/ko/행복감'                }}active {{/is}}dropdown-item">젠더 행복감</a>
  <a href="/ko/신체적-불쾌감"                class="{{#is meta.url '/ko/신체적-불쾌감'      }}active {{/is}}dropdown-item">신체적 불쾌감</a>
  <a href="/ko/생화학적-불쾌감"              class="{{#is meta.url '/ko/생화학적-불쾌감'   }}active {{/is}}dropdown-item">생화학적 불쾌감</a>
  <a href="/ko/사회적-불쾌감"                class="{{#is meta.url '/ko/사회적-불쾌감'        }}active {{/is}}dropdown-item">사회적 불쾌감</a>
  <a href="/ko/넓은-의미에서의-사회적-불쾌감"    class="{{#is meta.url '/ko/넓은-의미에서의-사회적-불쾌감'      }}active {{/is}}dropdown-item">넓은 의미에서의 사회적 불쾌감</a>
  <a href="/ko/성적-불쾌감"                 class="{{#is meta.url '/ko/성적-불쾌감'        }}active {{/is}}dropdown-item">성적 불쾌감</a>
  <a href="/ko/표현적-불쾌감"                class="{{#is meta.url '/ko/표현적-불쾌감'}}active {{/is}}dropdown-item">표현 방식에 대한 불쾌감</a>
  <a href="/ko/존재적-불쾌감"                class="{{#is meta.url '/ko/존재적-불쾌감'   }}active {{/is}}dropdown-item">존재론적 불쾌감</a>
  <a href="/ko/관리되는-불쾌감"              class="{{#is meta.url '/ko/관리되는-불쾌감'       }}active {{/is}}dropdown-item">관리된 불쾌감</a>
  <a href="/ko/가면-증후군"                 class="{{#is meta.url '/ko/가면-증후군'       }}active {{/is}}dropdown-item">가면 증후군</a>
  <a href="/ko/제가-트랜스젠더일까요"          class="{{#is meta.url '/ko/제가-트랜스젠더일까요'              }}active {{/is}}dropdown-item">제가 트랜스젠더일까요?</a>
  <a href="/ko/진단"                      class="{{#is meta.url '/ko/진단'               }}active {{/is}}dropdown-item">임상 진단</a>
  <a href="/ko/치료"                      class="{{#is meta.url '/ko/치료'               }}active {{/is}}dropdown-item">젠더 불쾌감 치료</a>
  <a href="/ko/원인"                      class="{{#is meta.url '/ko/원인'                  }}active {{/is}}dropdown-item">젠더 불쾌감의 원인</a>
  <a href="/ko/염색체"                     class="{{#is meta.url '/ko/염색체'              }}active {{/is}}dropdown-item">염색체</a>
  <a href="/ko/호르몬"                     class="{{#is meta.url '/ko/호르몬'                }}active {{/is}}dropdown-item">호르몬은 어떻게 작용하는가</a>
  <a href="/ko/아차-사춘기-남"              class="{{#is meta.url '/ko/이차-사춘기-남'     }}active {{/is}}dropdown-item">안드로겐성 2차 사춘기 기초</a>
  <a href="/ko/이차-사춘기-여"              class="{{#is meta.url '/ko/이차-사춘기-여'      }}active {{/is}}dropdown-item">에스트로겐성 2차 사춘기 기초</a>
  <a href="/ko/결론"                      class="{{#is meta.url '/ko/결론'              }}active {{/is}}dropdown-item">결론</a>
</div>
