
<a href="/uk/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">Біблія гендерної дисфорії</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/uk/printable"                class="{{#is meta.url '/uk/printable'               }}active {{/is}}dropdown-item">Переглянути все</a>
  <a href="/uk.pdf"                     class="dropdown-item">Завантажити PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/uk/"                         class="{{#is meta.url '/uk/index' '/'               }}active {{/is}}dropdown-item">Вступ</a>
  <a href="/uk/what-is-gender"           class="{{#is meta.url '/uk/what-is-gender'          }}active {{/is}}dropdown-item">Що таке гендер?</a>
  <a href="/uk/history"                  class="{{#is meta.url '/uk/history'                 }}active {{/is}}dropdown-item">Історія гендерної дисфорії</a>
  <a href="/uk/euphoria"                 class="{{#is meta.url '/uk/euphoria'                }}active {{/is}}dropdown-item">Ґендерна ейфорія</a>
  <a href="/uk/physical-dysphoria"       class="{{#is meta.url '/uk/physical-dysphoria'      }}active {{/is}}dropdown-item">Фізична дисфорія</a>
  <a href="/uk/biochemical-dysphoria"    class="{{#is meta.url '/uk/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Біохімічна дисфорія</a>
  <a href="/uk/social-dysphoria"         class="{{#is meta.url '/uk/social-dysphoria'        }}active {{/is}}dropdown-item">Соціальна дисфорія</a>
  <a href="/uk/societal-dysphoria"       class="{{#is meta.url '/uk/societal-dysphoria'      }}active {{/is}}dropdown-item">Суспільна дисфорія</a>
  <a href="/uk/sexual-dysphoria"         class="{{#is meta.url '/uk/sexual-dysphoria'        }}active {{/is}}dropdown-item">Сексуальна дисфорія</a>
  <a href="/uk/presentational-dysphoria" class="{{#is meta.url '/uk/presentational-dysphoria'}}active {{/is}}dropdown-item">Презентаційна дисфорія</a>
  <a href="/uk/existential-dysphoria"    class="{{#is meta.url '/uk/existential-dysphoria'   }}active {{/is}}dropdown-item">Екзистенційна дисфорія</a>
  <a href="/uk/managed-dysphoria"        class="{{#is meta.url '/uk/managed-dysphoria'       }}active {{/is}}dropdown-item">Керована дисфорія</a>
  <a href="/uk/impostor-syndrome"        class="{{#is meta.url '/uk/impostor-syndrome'       }}active {{/is}}dropdown-item">Синдром самозванця</a>
  <a href="/uk/am-i-trans"               class="{{#is meta.url '/uk/am-i-trans'              }}active {{/is}}dropdown-item">Чи я транс?</a>
  <a href="/uk/diagnoses"                class="{{#is meta.url '/uk/diagnoses'               }}active {{/is}}dropdown-item">Клінічні діагнози</a>
  <a href="/uk/treatment"                class="{{#is meta.url '/uk/treatment'               }}active {{/is}}dropdown-item">Лікування гендерної дисфорії</a>
  <a href="/uk/causes"                   class="{{#is meta.url '/uk/causes'                  }}active {{/is}}dropdown-item">Причини гендерної дисфорії</a>
  <a href="/uk/chromosomes"              class="{{#is meta.url '/uk/chromosomes'             }}active {{/is}}dropdown-item">Хромосоми</a>
  <a href="/uk/hormones"                 class="{{#is meta.url '/uk/hormones'                }}active {{/is}}dropdown-item">Як працюють гормони</a>
  <a href="/uk/second-puberty-masc"      class="{{#is meta.url '/uk/second-puberty-masc'     }}active {{/is}}dropdown-item">Андрогенне друге статеве дозрівання 101</a>
  <a href="/uk/second-puberty-fem"       class="{{#is meta.url '/uk/second-puberty-fem'      }}active {{/is}}dropdown-item">Естрогенне друге статеве дозрівання 101</a>
  <a href="/uk/conclusion"               class="{{#is meta.url '/uk/conclusion'              }}active {{/is}}dropdown-item">Висновок</a>
</div>
