<div class="disclaimer"><div>
  <strong>Die Gender Dysphorie Bibel ist ein lebendiges Dokument</strong>
  <p>Der Inhalt wird sich mit der Zeit verändern, es können neue Inhalte hinzukommen oder bestehende aktualisiert werden, um das gesamte Spektrum von Gender Dysphorie abzubilden. In der momentanen Form fehlen spezielle Dysphorieformen zu den Themen non-binär, agender und genderfluid sowie zu den Themen drittes Geschlecht und Two-Spirit. Die Gender Dysphorie Bibel ist Open Source und wird gemeinschaftlich finanziert. <a href="/contributing/">Beiträge und Zuwendungen sind herzlich willkommen</a>.</p>
</div></div>
