
<a href="/de/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">Die Gender Dysphorie Bibel</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/de/printable"                class="{{#is meta.url '/de/printable'               }}active {{/is}}dropdown-item">View All</a>
  <hr class="dropdown-divider">
  <a href="/de/"                         class="{{#is meta.url '/de/index'                   }}active {{/is}}dropdown-item">Einleitung</a>
  <a href="/de/was-ist-gender"           class="{{#is meta.url '/de/was-ist-gender'          }}active {{/is}}dropdown-item">Was ist Gender?</a>
  <a href="/de/geschichte"               class="{{#is meta.url '/de/geschichte'              }}active {{/is}}dropdown-item">Eine Geschichtstunde zu Gender Dysphorie</a>
  <a href="/de/euphoria"                 class="{{#is meta.url '/de/euphoria'                }}active {{/is}}dropdown-item">Gender Euphoria</a>
  <a href="/de/physical-dysphoria"       class="{{#is meta.url '/de/physical-dysphoria'      }}active {{/is}}dropdown-item">Physical Dysphoria</a>
  <a href="/de/biochemical-dysphoria"    class="{{#is meta.url '/de/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Biochemical Dysphoria</a>
  <a href="/de/social-dysphoria"         class="{{#is meta.url '/de/social-dysphoria'        }}active {{/is}}dropdown-item">Social Dysphoria</a>
  <a href="/de/societal-dysphoria"       class="{{#is meta.url '/de/societal-dysphoria'      }}active {{/is}}dropdown-item">Societal Dysphoria</a>
  <a href="/de/sexual-dysphoria"         class="{{#is meta.url '/de/sexual-dysphoria'        }}active {{/is}}dropdown-item">Sexual Dysphoria</a>
  <a href="/de/presentational-dysphoria" class="{{#is meta.url '/de/presentational-dysphoria'}}active {{/is}}dropdown-item">Presentational Dysphoria</a>
  <a href="/de/existential-dysphoria"    class="{{#is meta.url '/de/existential-dysphoria'   }}active {{/is}}dropdown-item">Existential Dysphoria</a>
  <a href="/de/managed-dysphoria"        class="{{#is meta.url '/de/managed-dysphoria'       }}active {{/is}}dropdown-item">Managed Dysphoria</a>
  <a href="/de/impostor-syndrome"        class="{{#is meta.url '/de/impostor-syndrome'       }}active {{/is}}dropdown-item">Impostor Syndrome</a>
  <a href="/de/am-i-trans       "        class="{{#is meta.url '/de/am-i-trans'              }}active {{/is}}dropdown-item">Am I Trans?</a>
  <a href="/de/diagnoses"                class="{{#is meta.url '/de/diagnoses'               }}active {{/is}}dropdown-item">Clinical Diagnoses</a>
  <a href="/de/treatment"                class="{{#is meta.url '/de/treatment'               }}active {{/is}}dropdown-item">Treating Gender Dysphoria</a>
  <a href="/de/causes"                   class="{{#is meta.url '/de/causes'                  }}active {{/is}}dropdown-item">Causes of Gender Dysphoria</a>
  <a href="/de/chromosomes"              class="{{#is meta.url '/de/chromosomes'             }}active {{/is}}dropdown-item">Chromosomes</a>
  <a href="/de/hormones"                 class="{{#is meta.url '/de/hormones'                }}active {{/is}}dropdown-item">How Hormones Work</a>
  <a href="/de/second-puberty-masc"      class="{{#is meta.url '/de/second-puberty-masc'     }}active {{/is}}dropdown-item">Androgenic Second Puberty 101</a>
  <a href="/de/second-puberty-fem"       class="{{#is meta.url '/de/second-puberty-fem'      }}active {{/is}}dropdown-item">Estrogenic Second Puberty 101</a>
  <a href="/de/conclusion"               class="{{#is meta.url '/de/conclusion'              }}active {{/is}}dropdown-item">Conclusion</a>
</div>
