
<a href="/de/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">Die Gender Dysphorie Bibel</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/de/druckbar"                          class="{{#is meta.url '/de/druckbar'                         }}active {{/is}}dropdown-item">Alle ansehen</a>
  <a href="/gdb-de.pdf"                     class="dropdown-item">PDF Herunterladen {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/de/"                                  class="{{#is meta.url '/de/index'                            }}active {{/is}}dropdown-item">Einleitung</a>
  <a href="/de/was-ist-gender"                    class="{{#is meta.url '/de/was-ist-gender'                   }}active {{/is}}dropdown-item">Was ist Gender?</a>
  <a href="/de/geschichte"                        class="{{#is meta.url '/de/geschichte'                       }}active {{/is}}dropdown-item">Eine Geschichtstunde zu Gender Dysphorie</a>
  <a href="/de/euphorie"                          class="{{#is meta.url '/de/euphorie'                         }}active {{/is}}dropdown-item">Gender Euphorie</a>
  <a href="/de/körperliche-dysphorie"             class="{{#is meta.url '/de/körperliche-dysphorie'            }}active {{/is}}dropdown-item">Körperliche Dysphorie</a>
  <a href="/de/biochemische-dysphorie"            class="{{#is meta.url '/de/biochemische-dysphorie'           }}active {{/is}}dropdown-item">Biochemische Dysphorie</a>
  <a href="/de/soziale-dysphorie"                 class="{{#is meta.url '/de/soziale-dysphorie'                }}active {{/is}}dropdown-item">Soziale Dysphorie</a>
  <a href="/de/gesellschaftliche-dysphorie"       class="{{#is meta.url '/de/gesellschaftliche-dysphorie'      }}active {{/is}}dropdown-item">Gesellschaftliche Dysphorie</a>
  <a href="/de/sexuelle-dysphorie"                class="{{#is meta.url '/de/sexuelle-dysphorie'               }}active {{/is}}dropdown-item">Sexuelle Dysphorie</a>
  <a href="/de/präsentationsdysphorie"            class="{{#is meta.url '/de/präsentationsdysphorie'           }}active {{/is}}dropdown-item">Präsentationsdysphorie</a>
  <a href="/de/existentielle-dysphorie"           class="{{#is meta.url '/de/existentielle-dysphorie'          }}active {{/is}}dropdown-item">Existentielle Dysphorie</a>
  <a href="/de/gemanagte-dysphorie"               class="{{#is meta.url '/de/gemanagte-dysphorie'              }}active {{/is}}dropdown-item">Gemanagte Dysphorie</a>
  <a href="/de/impostor-syndrom"                  class="{{#is meta.url '/de/impostor-syndrom'                 }}active {{/is}}dropdown-item">Impostor Syndrom</a>
  <a href="/de/bin-ich-trans"                     class="{{#is meta.url '/de/bin-ich-trans'                    }}active {{/is}}dropdown-item">Bin ich Trans?</a>
  <a href="/de/diagnose"                          class="{{#is meta.url '/de/diagnose'                         }}active {{/is}}dropdown-item">Klinische Diagnosen</a>
  <a href="/de/behandlung"                        class="{{#is meta.url '/de/behandlung'                       }}active {{/is}}dropdown-item">Behandlung von Gender Dysphorie</a>
  <a href="/de/ursache"                           class="{{#is meta.url '/de/ursache'                          }}active {{/is}}dropdown-item">Ursache des Geschlechtskonflikts</a>
  <a href="/de/chromosomen"                       class="{{#is meta.url '/de/chromosomen'                      }}active {{/is}}dropdown-item">Chromosomen</a>
  <a href="/de/hormone"                           class="{{#is meta.url '/de/hormone'                          }}active {{/is}}dropdown-item">Wie Hormone funktionieren</a>
  <a href="/de/androgene-zweite-pubertät"         class="{{#is meta.url '/de/androgene-zweite-pubertät'        }}active {{/is}}dropdown-item">Androgene zweite Pubertät 101</a>
  <a href="/de/östrogene-zweite-pubertat"         class="{{#is meta.url '/de/östrogene-zweite-pubertat'        }}active {{/is}}dropdown-item">Östrogene zweite Pubertät 101</a>
  <a href="/de/zusammenfassung"                   class="{{#is meta.url '/de/zusammenfassung'                  }}active {{/is}}dropdown-item">Zusammenfassung</a>
</div>
