
<a href="/gdb/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">The Gender Dysphoria Bible</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/gdb/printable"                class="{{#is meta.url '/gdb/printable'               }}active {{/is}}dropdown-item">View All</a>
  <a href="/gdb.pdf"                      class="dropdown-item">Download PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/gdb/"                         class="{{#is meta.url '/gdb/index' '/'               }}active {{/is}}dropdown-item">Introduction</a>
  <a href="/gdb/what-is-gender"           class="{{#is meta.url '/gdb/what-is-gender'          }}active {{/is}}dropdown-item">What is Gender?</a>
  <a href="/gdb/history"                  class="{{#is meta.url '/gdb/history'                 }}active {{/is}}dropdown-item">The History of Gender Dysphoria</a>
  <a href="/gdb/euphoria"                 class="{{#is meta.url '/gdb/euphoria'                }}active {{/is}}dropdown-item">Gender Euphoria</a>
  <a href="/gdb/physical-dysphoria"       class="{{#is meta.url '/gdb/physical-dysphoria'      }}active {{/is}}dropdown-item">Physical Dysphoria</a>
  <a href="/gdb/biochemical-dysphoria"    class="{{#is meta.url '/gdb/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Biochemical Dysphoria</a>
  <a href="/gdb/social-dysphoria"         class="{{#is meta.url '/gdb/social-dysphoria'        }}active {{/is}}dropdown-item">Social Dysphoria</a>
  <a href="/gdb/societal-dysphoria"       class="{{#is meta.url '/gdb/societal-dysphoria'      }}active {{/is}}dropdown-item">Societal Dysphoria</a>
  <a href="/gdb/sexual-dysphoria"         class="{{#is meta.url '/gdb/sexual-dysphoria'        }}active {{/is}}dropdown-item">Sexual Dysphoria</a>
  <a href="/gdb/presentational-dysphoria" class="{{#is meta.url '/gdb/presentational-dysphoria'}}active {{/is}}dropdown-item">Presentational Dysphoria</a>
  <a href="/gdb/existential-dysphoria"    class="{{#is meta.url '/gdb/existential-dysphoria'   }}active {{/is}}dropdown-item">Existential Dysphoria</a>
  <a href="/gdb/managed-dysphoria"        class="{{#is meta.url '/gdb/managed-dysphoria'       }}active {{/is}}dropdown-item">Managed Dysphoria</a>
  <a href="/gdb/impostor-syndrome"        class="{{#is meta.url '/gdb/impostor-syndrome'       }}active {{/is}}dropdown-item">Impostor Syndrome</a>
  <a href="/gdb/diagnoses"                class="{{#is meta.url '/gdb/diagnoses'               }}active {{/is}}dropdown-item">Clinical Diagnoses</a>
  <a href="/gdb/treatment"                class="{{#is meta.url '/gdb/treatment'               }}active {{/is}}dropdown-item">Treating Gender Dysphoria</a>
  <a href="/gdb/causes"                   class="{{#is meta.url '/gdb/causes'                  }}active {{/is}}dropdown-item">Causes of Gender Dysphoria</a>
  <a href="/gdb/chromosomes"              class="{{#is meta.url '/gdb/chromosomes'             }}active {{/is}}dropdown-item">Chromosomes</a>
  <a href="/gdb/hormones"                 class="{{#is meta.url '/gdb/hormones'                }}active {{/is}}dropdown-item">How Hormones Work</a>
  <a href="/gdb/second-puberty-masc"      class="{{#is meta.url '/gdb/second-puberty-masc'     }}active {{/is}}dropdown-item">Androgenic Second Puberty 101</a>
  <a href="/gdb/second-puberty-fem"       class="{{#is meta.url '/gdb/second-puberty-fem'      }}active {{/is}}dropdown-item">Estrogenic Second Puberty 101</a>
  <a href="/gdb/conclusion"               class="{{#is meta.url '/gdb/conclusion'              }}active {{/is}}dropdown-item">Conclusion</a>
</div>
