{{#is page.lang "es"}}
<a href="/es/bdg" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">La Biblia de la Disforia de Género</a>{{import '/public/es/_gdb-es-menu'}}
{{/is}}
{{#is page.lang "pt"}}
<a href="/pt/bdg" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">A Bíblia da Disforia de Gênero</a>{{import '/public/pt/_gdb-pt-menu'}}
{{/is}}
{{#is page.lang "en"}}
<a href="/en/gdb" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">The Gender Dysphoria Bible</a>{{import '/public/en/_gdb-en-menu'}}
{{/is}}