<div class="disclaimer"><div>
  <strong>Библия Гендерной Дисфории - это живой документ</strong>
  <p>Содержимое этого сайта будет меняться со временем, информация периодически добавляется и редактируется, чтобы покрыть всю полноту гендерной дисфории. В текущей версии сильно не хватает описания небинарной, агендерной, гендерфлюидной дисфорий, а также не сказано о "третьем поле" и Бердаши (Двухдуховных). БГД - открытый проект с публичным финансированием, <a href="/contributing/">пожертвования всегда приветствуются</a>.</p>
</div></div>
