<div class="disclaimer"><div>
  <strong>Библия Гендерной Дисфории - это Живой Документ</strong>
  <p>Содержание этого сайта будет меняться по мере внесения новых дополнений и правок, которые будут вноситься для дальнейшего раскрытия всей широты гендерной дисфории. В свой текущей итерации ему не хватает описания дисфории у небинарных, агендерных и гендерфлюидных людей, а также раскрытия тем третьего пола и бердашей. БГД - это проект с открытым исходным кодом, спонсируемый сообществом, <a href="/contributing/">вклады в который крайне приветствуются</a>.</p>
</div></div>
