
<a href="/ru/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">Библия Гендерной Дисфории</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/en/printable"                class="{{#is meta.url '/en/printable'               }}active {{/is}}dropdown-item">Посмотреть всë</a>
  <a href="/en.pdf"                      class="dropdown-item">Скачать PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/ru/"                         class="{{#is meta.url '/ru/index' '/'               }}active {{/is}}dropdown-item">Введение</a>
  <a href="/ru/what-is-gender"           class="{{#is meta.url '/ru/what-is-gender'          }}active {{/is}}dropdown-item">Что такое гендер?</a>
  <a href="/ru/history"                  class="{{#is meta.url '/ru/history'                 }}active {{/is}}dropdown-item">История гендерной дисфории</a>
  <a href="/ru/euphoria"                 class="{{#is meta.url '/ru/euphoria'                }}active {{/is}}dropdown-item">Гендерная эйфория</a>
  <a href="/ru/physical-dysphoria"       class="{{#is meta.url '/ru/physical-dysphoria'      }}active {{/is}}dropdown-item">Физическая дисфория</a>
  <a href="/ru/biochemical-dysphoria"    class="{{#is meta.url '/ru/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Биохимическая дисфория</a>
  <a href="/ru/social-dysphoria"         class="{{#is meta.url '/ru/social-dysphoria'        }}active {{/is}}dropdown-item">Социальная дисфория</a>
  <a href="/ru/societal-dysphoria"       class="{{#is meta.url '/ru/societal-dysphoria'      }}active {{/is}}dropdown-item">Общественная дисфория</a>
  <a href="/ru/sexual-dysphoria"         class="{{#is meta.url '/ru/sexual-dysphoria'        }}active {{/is}}dropdown-item">Сексуальная дисфория</a>
  <a href="/ru/presentational-dysphoria" class="{{#is meta.url '/ru/presentational-dysphoria'}}active {{/is}}dropdown-item">Презентационная дисфория</a>
  <a href="/ru/existential-dysphoria"    class="{{#is meta.url '/ru/existential-dysphoria'   }}active {{/is}}dropdown-item">Экзистенциальная дисфория</a>
  <a href="/ru/managed-dysphoria"        class="{{#is meta.url '/ru/managed-dysphoria'       }}active {{/is}}dropdown-item">Управляемая дисфория</a>
  <a href="/ru/impostor-syndrome"        class="{{#is meta.url '/ru/impostor-syndrome'       }}active {{/is}}dropdown-item">Синдром самозванца</a>
  <a href="/ru/am-i-trans"               class="{{#is meta.url '/ru/am-i-trans'              }}active {{/is}}dropdown-item">Трансгендер ли я?</a>
  <a href="/ru/diagnoses"                class="{{#is meta.url '/ru/diagnoses'               }}active {{/is}}dropdown-item">Клинические диагнозы</a>
  <a href="/ru/treatment"                class="{{#is meta.url '/ru/treatment'               }}active {{/is}}dropdown-item">Лечение гендерной дисфории</a>
  <a href="/ru/causes"                   class="{{#is meta.url '/ru/causes'                  }}active {{/is}}dropdown-item">Причины гендерной дисфории</a>
  <a href="/ru/chromosomes"              class="{{#is meta.url '/ru/chromosomes'             }}active {{/is}}dropdown-item">Хромосомы</a>
  <a href="/ru/hormones"                 class="{{#is meta.url '/ru/hormones'                }}active {{/is}}dropdown-item">Как работают гормоны</a>
  <a href="/ru/second-puberty-masc"      class="{{#is meta.url '/ru/second-puberty-masc'     }}active {{/is}}dropdown-item">Андрогенное второе половое созревание 101</a>
  <a href="/ru/second-puberty-fem"       class="{{#is meta.url '/ru/second-puberty-fem'      }}active {{/is}}dropdown-item">Эстрогенное второе половое созревание 101</a>
  <a href="/ru/conclusion"               class="{{#is meta.url '/ru/conclusion'              }}active {{/is}}dropdown-item">Заключение</a>
</div>
