<div class="disclaimer"><div>
  <strong>The Gender Dysphoria Bible is a Living Document</strong>
  <p>The contents of this site will change over time as new additions and revisions are made to further expand upon the full breadth of Gender Dysphoria. In its current iteration it is severely lacking in AFAB narratives, non-binary, agender &amp; genderfluid specific dysphoria, and Third Gender narratives. The GDB is an open source and publicly funded project, <a href="https://github.com/GenderDysphoria/GenderDysphoria.fyi">content</a> and <a href="https://patreon.com/curvyandtrans">fiscal</a> contributions are extremely welcome.</p>
</div></div>
