<div class="disclaimer"><div>
  <strong>A Bíblia da Disforia de Gênero é um Documento Vivo</strong>
  <p>Os conteúdos desse site mudarão ao longo do tempo conforme novas adições e revisões são feitas para expandir e abarcar toda a Disforia de Gênero. Em sua atual iteração, há severa falta de narrativas de pessoas AFAB, não-binárias, e agênero; disforia específica de gênero-fluido e narrativas de terceiro gênero. A <abbr data-title="Bíblia da Disforia de Gênero">BDG</abbr> é um projeto de código aberto e publicamente financiado, contribuições de <a href="https://github.com/GenderDysphoria/GenderDysphoria.fyi">conteúdo</a> e <a href="https://patreon.com/curvyandtrans">monetárias</a> são extremamente bem-vindas.</p>
</div></div>
