
  <div class="dropdown-menu" aria-labelledby="nav-gdb">
    <a href="/pt/bdg/imprimivel"               class="{{#is meta.url '/pt/bdg/imprimivel'              }}active {{/is}}dropdown-item">Ver tudo</a>
    <!-- <a href="/gdb.pdf"                      class="dropdown-item">Download PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a> -->
    <hr class="dropdown-divider">
    <a href="/pt/bdg/"                         class="{{#is meta.url '/pt/bdg/index' '/'               }}active {{/is}}dropdown-item">Introdução</a>
    <a href="/pt/bdg/que-e-genero"             class="{{#is meta.url '/pt/bdg/que-e-genero'            }}active {{/is}}dropdown-item">O que é Gênero?</a>
    <a href="/pt/bdg/historia"                 class="{{#is meta.url '/pt/bdg/historia'                }}active {{/is}}dropdown-item">A História da Disforia de Gênero</a>
    <a href="/pt/bdg/euforia"                  class="{{#is meta.url '/pt/bdg/euforia'                 }}active {{/is}}dropdown-item">Euforia de Gênero</a>
    <a href="/pt/bdg/disforia-fisica"          class="{{#is meta.url '/pt/bdg/disforia-fisica'         }}active {{/is}}dropdown-item">Disforia Física</a>
    <a href="/pt/bdg/disforia-bioquimica"      class="{{#is meta.url '/pt/bdg/disforia-bioquimica'     }}active {{/is}}dropdown-item">Disforia Bioquímica</a>
    <a href="/pt/bdg/disforia-social"          class="{{#is meta.url '/pt/bdg/disforia-social'         }}active {{/is}}dropdown-item">Disforia Social</a>
    <a href="/pt/bdg/disforia-societal"        class="{{#is meta.url '/pt/bdg/disforia-societal'       }}active {{/is}}dropdown-item">Disforia Societal</a>
    <a href="/pt/bdg/disforia-sexual"          class="{{#is meta.url '/pt/bdg/disforia-sexual'         }}active {{/is}}dropdown-item">Disforia Sexual</a>
    <a href="/pt/bdg/disforia-apresentacional" class="{{#is meta.url '/pt/bdg/disforia-apresentacional'}}active {{/is}}dropdown-item">Disforia Apresentacional</a>
    <a href="/pt/bdg/disforia-existencial"     class="{{#is meta.url '/pt/bdg/disforia-existencial'  }}active {{/is}}dropdown-item">Disforia Existential</a>
    <a href="/pt/bdg/disforia-gerenciada"      class="{{#is meta.url '/pt/bdg/disforia-gerenciada'     }}active {{/is}}dropdown-item">Disforia Gerenciada</a>
    <a href="/pt/bdg/sindrome-de-impostor"     class="{{#is meta.url '/pt/bdg/sindrome-de-impostor'    }}active {{/is}}dropdown-item">Síndrome de Impostor</a>
    <a href="/pt/bdg/diagnosticos"             class="{{#is meta.url '/pt/bdg/diagnosticos'            }}active {{/is}}dropdown-item">Diagnósticos Clínicos</a>
    <a href="/pt/bdg/tratamento"               class="{{#is meta.url '/pt/bdg/tratamento'              }}active {{/is}}dropdown-item">Tratando Disforia de Gênero</a>
    <a href="/pt/bdg/causas"                   class="{{#is meta.url '/pt/bdg/causas'                  }}active {{/is}}dropdown-item">Causas de Disforia de Gênero</a>
    <a href="/pt/bdg/cromossomos"              class="{{#is meta.url '/pt/bdg/cromossomos'             }}active {{/is}}dropdown-item">Cromossomos</a>
    <a href="/pt/bdg/hormonios"                class="{{#is meta.url '/pt/bdg/hormonios'               }}active {{/is}}dropdown-item">Como Hormônios Funcionam</a>
    <a href="/pt/bdg/segunda-puberdade-masc"   class="{{#is meta.url '/pt/bdg/segunda-puberdade-masc'  }}active {{/is}}dropdown-item">Intro. Segunda Puberdade Androgênica</a>
    <a href="/pt/bdg/segunda-puberdade-fem"    class="{{#is meta.url '/pt/bdg/segunda-puberdade-fem'   }}active {{/is}}dropdown-item">Intro. Segunda Puberdade Estrogênica</a>
    <a href="/pt/bdg/conclusao"                class="{{#is meta.url '/pt/bdg/conclusao'               }}active {{/is}}dropdown-item">Conclusão</a>
  </div>
