
<a href="/pt/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">A Bíblia da Disforia de Gênero</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/pt/imprimivel"               class="{{#is meta.url '/pt/imprimivel'              }}active {{/is}}dropdown-item">Ver tudo</a>
  <!-- <a href="/gdb.pdf"                      class="dropdown-item">Baixar PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a> -->
  <hr class="dropdown-divider">
  <a href="/pt/"                         class="{{#is meta.url '/pt/index' '/'               }}active {{/is}}dropdown-item">Introdução</a>
  <a href="/pt/que-e-genero"             class="{{#is meta.url '/pt/que-e-genero'            }}active {{/is}}dropdown-item">O que é Gênero?</a>
  <a href="/pt/historia"                 class="{{#is meta.url '/pt/historia'                }}active {{/is}}dropdown-item">A História da Disforia de Gênero</a>
  <a href="/pt/euforia"                  class="{{#is meta.url '/pt/euforia'                 }}active {{/is}}dropdown-item">Euforia de Gênero</a>
  <a href="/pt/disforia-fisica"          class="{{#is meta.url '/pt/disforia-fisica'         }}active {{/is}}dropdown-item">Disforia Física</a>
  <a href="/pt/disforia-bioquimica"      class="{{#is meta.url '/pt/disforia-bioquimica'     }}active {{/is}}dropdown-item">Disforia Bioquímica</a>
  <a href="/pt/disforia-social"          class="{{#is meta.url '/pt/disforia-social'         }}active {{/is}}dropdown-item">Disforia Social</a>
  <a href="/pt/disforia-societal"        class="{{#is meta.url '/pt/disforia-societal'       }}active {{/is}}dropdown-item">Disforia Societal</a>
  <a href="/pt/disforia-sexual"          class="{{#is meta.url '/pt/disforia-sexual'         }}active {{/is}}dropdown-item">Disforia Sexual</a>
  <a href="/pt/disforia-apresentacional" class="{{#is meta.url '/pt/disforia-apresentacional'}}active {{/is}}dropdown-item">Disforia Apresentacional</a>
  <a href="/pt/disforia-existencial"     class="{{#is meta.url '/pt/disforia-existencial'  }}active {{/is}}dropdown-item">Disforia Existential</a>
  <a href="/pt/disforia-gerenciada"      class="{{#is meta.url '/pt/disforia-gerenciada'     }}active {{/is}}dropdown-item">Disforia Gerenciada</a>
  <a href="/pt/sindrome-de-impostor"     class="{{#is meta.url '/pt/sindrome-de-impostor'    }}active {{/is}}dropdown-item">Síndrome de Impostor</a>
  <a href="/pt/eu-sou-trans"             class="{{#is meta.url '/pt/eu-sou-trans'            }}active {{/is}}dropdown-item">Eu Sou Trans?</a>
  <a href="/pt/diagnosticos"             class="{{#is meta.url '/pt/diagnosticos'            }}active {{/is}}dropdown-item">Diagnósticos Clínicos</a>
  <a href="/pt/tratamento"               class="{{#is meta.url '/pt/tratamento'              }}active {{/is}}dropdown-item">Tratando Disforia de Gênero</a>
  <a href="/pt/causas"                   class="{{#is meta.url '/pt/causas'                  }}active {{/is}}dropdown-item">Causas de Disforia de Gênero</a>
  <a href="/pt/cromossomos"              class="{{#is meta.url '/pt/cromossomos'             }}active {{/is}}dropdown-item">Cromossomos</a>
  <a href="/pt/hormonios"                class="{{#is meta.url '/pt/hormonios'               }}active {{/is}}dropdown-item">Como Hormônios Funcionam</a>
  <a href="/pt/segunda-puberdade-masc"   class="{{#is meta.url '/pt/segunda-puberdade-masc'  }}active {{/is}}dropdown-item">Intro. Segunda Puberdade Androgênica</a>
  <a href="/pt/segunda-puberdade-fem"    class="{{#is meta.url '/pt/segunda-puberdade-fem'   }}active {{/is}}dropdown-item">Intro. Segunda Puberdade Estrogênica</a>
  <a href="/pt/conclusao"                class="{{#is meta.url '/pt/conclusao'               }}active {{/is}}dropdown-item">Conclusão</a>
</div>
