<div class="disclaimer"><div>
  <strong>De Genderdysforie Bijbel is een Levend Document</strong>
  <p>De inhoud van deze site zal in de loop der tijd veranderen naarmate er nieuwe toevoegingen en herzieningen gedaan worden om de volledige reikwijdte van genderdysforie verder uit te breiden. In de huidige versie ontbreekt het ernstig aan dysforie specifiek voor non-binaire, agender &amp; genderfluïde mensen, evenals derde gender- en twee-geestverhalen. De GDB is een open source en publiek gefinancierd project; <a href="/contributing/">bijdragen zijn zeer welkom</a>.</p>
</div></div>
