
<a href="/nl/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">De Genderdysforie Bijbel</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/nl/afdrukbaar"                class="{{#is meta.url '/nl/afdrukbaar'                }}active {{/is}}dropdown-item">Alles bekijken</a>
  <a href="/gdb.pdf"                      class="dropdown-item">PDF downloaden {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/nl/"                          class="{{#is meta.url '/nl/index' '/'                }}active {{/is}}dropdown-item">Inleiding</a>
  <a href="/nl/wat-is-gender"             class="{{#is meta.url '/nl/wat-is-gender'            }}active {{/is}}dropdown-item">Wat is Gender?</a>
  <a href="/nl/geschiedenis"              class="{{#is meta.url '/nl/geschiedenis'             }}active {{/is}}dropdown-item">De Geschiedenis van Genderdysforie</a>
  <a href="/nl/euforie"                   class="{{#is meta.url '/nl/euforie'                  }}active {{/is}}dropdown-item">Gender Euforie</a>
  <a href="/nl/fysieke-dysforie"          class="{{#is meta.url '/nl/fysieke-dysforie'         }}active {{/is}}dropdown-item">Fysieke Dysforie</a>
  <a href="/nl/biochemische-dysforie"     class="{{#is meta.url '/nl/biochemische-dysforie'    }}active {{/is}}dropdown-item">Biochemische Dysforie</a>
  <a href="/nl/sociale-dysforie"          class="{{#is meta.url '/nl/sociale-dysforie'         }}active {{/is}}dropdown-item">Sociale Dysforie</a>
  <a href="/nl/maatschappelijke-dysforie" class="{{#is meta.url '/nl/maatschappelijke-dysforie'}}active {{/is}}dropdown-item">Maatschappelijke Dysforie</a>
  <a href="/nl/seksuele-dysforie"         class="{{#is meta.url '/nl/seksuele-dysforie'        }}active {{/is}}dropdown-item">Seksuele Dysforie</a>
  <a href="/nl/presentationele-dysforie"  class="{{#is meta.url '/nl/presentationele-dysforie' }}active {{/is}}dropdown-item">Presentationele Dysforie</a>
  <a href="/nl/existentiele-dysforie"     class="{{#is meta.url '/nl/existentiele-dysforie'    }}active {{/is}}dropdown-item">Existentiële Dysforie</a>
  <a href="/nl/beheersbare-dysforie"      class="{{#is meta.url '/nl/beheersbare-dysforie'     }}active {{/is}}dropdown-item">Beheersbare Dysforie</a>
  <a href="/nl/impostor-syndroom"         class="{{#is meta.url '/nl/impostor-syndroom'        }}active {{/is}}dropdown-item">Impostor Syndroom</a>
  <a href="/nl/ben-ik-trans"              class="{{#is meta.url '/nl/ben-ik-trans'             }}active {{/is}}dropdown-item">Ben ik Trans?</a>
  <a href="/nl/diagnoses"                 class="{{#is meta.url '/nl/diagnoses'                }}active {{/is}}dropdown-item">Klinische Diagnoses</a>
  <a href="/nl/behandeling"               class="{{#is meta.url '/nl/behandeling'              }}active {{/is}}dropdown-item">Behandeling van Genderdysforie</a>
  <a href="/nl/oorzaken"                  class="{{#is meta.url '/nl/oorzaken'                 }}active {{/is}}dropdown-item">Oorzaken van Genderdysforie</a>
  <a href="/nl/chromosomen"               class="{{#is meta.url '/nl/chromosomen'              }}active {{/is}}dropdown-item">Chromosomen</a>
  <a href="/nl/hormonen"                  class="{{#is meta.url '/nl/hormonen'                 }}active {{/is}}dropdown-item">Hoe Hormonen Werken</a>
  <a href="/nl/tweede-puberteit-masc"     class="{{#is meta.url '/nl/tweede-puberteit-masc'    }}active {{/is}}dropdown-item">Androgene Tweede Puberteit 101</a>
  <a href="/nl/tweede-puberteit-fem"      class="{{#is meta.url '/nl/tweede-puberteit-fem'     }}active {{/is}}dropdown-item">Oestrogene Tweede Puberteit 101</a>
  <a href="/nl/conclusie"                 class="{{#is meta.url '/nl/conclusie'                }}active {{/is}}dropdown-item">Conclusie</a>
</div>
