
  <div class="dropdown-menu" aria-labelledby="nav-gdb">
    <a href="/es/bdg/imprimible"               class="{{#is meta.url '/es/bdg/imprimible'              }}active {{/is}}dropdown-item">Ver Todo</a>
    <!-- <a href="/gdb.es.pdf"                      class="dropdown-item">Descargar PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a> -->
    <hr class="dropdown-divider">
    <a href="/es/bdg/"                         class="{{#is meta.url '/es/bdg/index' '/'               }}active {{/is}}dropdown-item">Introducción</a>
    <a href="/es/bdg/que-es-el-genero"         class="{{#is meta.url '/es/bdg/que-es-el-genero'        }}active {{/is}}dropdown-item">¿Qué es el Género?</a>
    <a href="/es/bdg/historia"                 class="{{#is meta.url '/es/bdg/historia'                }}active {{/is}}dropdown-item">La Historia de la Disforia de Género</a>
    <a href="/es/bdg/euforia"                  class="{{#is meta.url '/es/bdg/euforia'                 }}active {{/is}}dropdown-item">Euforia de Género</a>
    <a href="/es/bdg/disforia-fisica"          class="{{#is meta.url '/es/bdg/disforia-fisica'         }}active {{/is}}dropdown-item">Disforia de Género Física</a>
    <a href="/es/bdg/disforia-bioquimica"      class="{{#is meta.url '/es/bdg/disforia-bioquimica'     }}active {{/is}}dropdown-item">Disforia Bioquímica</a>
    <a href="/es/bdg/disforia-social"          class="{{#is meta.url '/es/bdg/disforia-social'         }}active {{/is}}dropdown-item">Disforia Social</a>
    <a href="/es/bdg/disforia-societal"        class="{{#is meta.url '/es/bdg/disforia-societal'       }}active {{/is}}dropdown-item">Disforia Societal</a>
    <a href="/es/bdg/disforia-sexual"          class="{{#is meta.url '/es/bdg/disforia-sexual'         }}active {{/is}}dropdown-item">Disforia Sexual</a>
    <a href="/es/bdg/disforia-de-presentacion" class="{{#is meta.url '/es/bdg/disforia-de-presentacion'}}active {{/is}}dropdown-item">Disforia de Presentación</a>
    <a href="/es/bdg/disforia-historica"       class="{{#is meta.url '/es/bdg/disforia-historica'      }}active {{/is}}dropdown-item">Disforia Histórica</a>
    <a href="/es/bdg/disforia-gestionada"      class="{{#is meta.url '/es/bdg/disforia-gestionada'     }}active {{/is}}dropdown-item">Disforia Gestionada</a>
    <a href="/es/bdg/sindrome-del-impostor"    class="{{#is meta.url '/es/bdg/sindrome-del-impostor'   }}active {{/is}}dropdown-item">Síndrome del Impostor</a>
    <a href="/es/bdg/diagnosticos"             class="{{#is meta.url '/es/bdg/diagnosticos'            }}active {{/is}}dropdown-item">Clinical Diagnoses</a>
    <a href="/es/bdg/tratamiento"              class="{{#is meta.url '/es/bdg/tratamiento'             }}active {{/is}}dropdown-item">Treating Gender Dysphoria</a>
    <a href="/es/bdg/causas"                   class="{{#is meta.url '/es/bdg/causas'                  }}active {{/is}}dropdown-item">Causes of Gender Dysphoria</a>
    <a href="/es/bdg/cromosomas"               class="{{#is meta.url '/es/bdg/cromosomas'              }}active {{/is}}dropdown-item">Cromosomas</a>
    <a href="/es/bdg/hormonas"                 class="{{#is meta.url '/es/bdg/hormonas'                }}active {{/is}}dropdown-item">Cómo Funcionan las Hormonas</a>
    <a href="/es/bdg/segunda-pubertad-masc"    class="{{#is meta.url '/es/bdg/segunda-pubertad-masc'   }}active {{/is}}dropdown-item">Intro. Segunda Pubertad Androgénica</a>
    <a href="/es/bdg/segunda-pubertad-fem"     class="{{#is meta.url '/es/bdg/segunda-pubertad-fem'    }}active {{/is}}dropdown-item">Intro. Segunda Pubertad Estrogénica</a>
    <a href="/es/bdg/conclusion"               class="{{#is meta.url '/es/bdg/conclusion'              }}active {{/is}}dropdown-item">Conclusión</a>
  </div>
