
<a href="/es/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">La Biblia de la Disforia de Género</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/es/imprimible"               class="{{#is meta.url '/es/imprimible'              }}active {{/is}}dropdown-item">Ver Todo</a>
  <!-- <a href="/es.pdf"                      class="dropdown-item">Descargar PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a> -->
  <hr class="dropdown-divider">
  <a href="/es/"                         class="{{#is meta.url '/es/index' '/'               }}active {{/is}}dropdown-item">Introducción</a>
  <a href="/es/que-es-el-genero"         class="{{#is meta.url '/es/que-es-el-genero'        }}active {{/is}}dropdown-item">¿Qué es el Género?</a>
  <a href="/es/historia"                 class="{{#is meta.url '/es/historia'                }}active {{/is}}dropdown-item">La Historia de la Disforia de Género</a>
  <a href="/es/euforia"                  class="{{#is meta.url '/es/euforia'                 }}active {{/is}}dropdown-item">Euforia de Género</a>
  <a href="/es/disforia-fisica"          class="{{#is meta.url '/es/disforia-fisica'         }}active {{/is}}dropdown-item">Disforia de Género Física</a>
  <a href="/es/disforia-bioquimica"      class="{{#is meta.url '/es/disforia-bioquimica'     }}active {{/is}}dropdown-item">Disforia Bioquímica</a>
  <a href="/es/disforia-social"          class="{{#is meta.url '/es/disforia-social'         }}active {{/is}}dropdown-item">Disforia Social</a>
  <a href="/es/disforia-societal"        class="{{#is meta.url '/es/disforia-societal'       }}active {{/is}}dropdown-item">Disforia Societal</a>
  <a href="/es/disforia-sexual"          class="{{#is meta.url '/es/disforia-sexual'         }}active {{/is}}dropdown-item">Disforia Sexual</a>
  <a href="/es/disforia-de-presentacion" class="{{#is meta.url '/es/disforia-de-presentacion'}}active {{/is}}dropdown-item">Disforia de Presentación</a>
  <a href="/es/disforia-existencial"     class="{{#is meta.url '/es/disforia-existencial'    }}active {{/is}}dropdown-item">Disforia Existencial</a>
  <a href="/es/disforia-gestionada"      class="{{#is meta.url '/es/disforia-gestionada'     }}active {{/is}}dropdown-item">Disforia Gestionada</a>
  <a href="/es/sindrome-del-impostor"    class="{{#is meta.url '/es/sindrome-del-impostor'   }}active {{/is}}dropdown-item">Síndrome del Impostor</a>
  <a href="/es/soy-trans"                class="{{#is meta.url '/es/soy_trans'               }}active {{/is}}dropdown-item">¿Soy Trans?</a>
  <a href="/es/diagnosticos"             class="{{#is meta.url '/es/diagnosticos'            }}active {{/is}}dropdown-item">Diagnósticos Clínicos</a>
  <a href="/es/tratamiento"              class="{{#is meta.url '/es/tratamiento'             }}active {{/is}}dropdown-item">Tratamiento de la Disforia de Género</a>
  <a href="/es/causas"                   class="{{#is meta.url '/es/causas'                  }}active {{/is}}dropdown-item">Causas de la Disforia de Género</a>
  <a href="/es/cromosomas"               class="{{#is meta.url '/es/cromosomas'              }}active {{/is}}dropdown-item">Cromosomas</a>
  <a href="/es/hormonas"                 class="{{#is meta.url '/es/hormonas'                }}active {{/is}}dropdown-item">Cómo Funcionan las Hormonas</a>
  <a href="/es/segunda-pubertad-masc"    class="{{#is meta.url '/es/segunda-pubertad-masc'   }}active {{/is}}dropdown-item">Intro. Segunda Pubertad Androgénica</a>
  <a href="/es/segunda-pubertad-fem"     class="{{#is meta.url '/es/segunda-pubertad-fem'    }}active {{/is}}dropdown-item">Intro. Segunda Pubertad Estrogénica</a>
  <a href="/es/conclusion"               class="{{#is meta.url '/es/conclusion'              }}active {{/is}}dropdown-item">Conclusión</a>
</div>
