<div class="disclaimer"><div>
  <strong>La Bible de la dysphorie de genre est un Document Vivant</strong>
  <p>Le contenu de ce site est appelé à évoluer au fil du temps, au fur et à mesure que de nouveaux ajouts et de nouvelles révisions seront effectués afin d'élargir l'éventail de la dysphorie de genre. Dans sa version actuelle, il manque cruellement d'informations sur la dysphorie spécifique aux personnes non binaires, agenres et genderfluid, ainsi que sur les récits de troisième genre et de bispiritualité. La BDG est un projet open source et financé par des fonds publics, <a href="/contributing/">les contributions sont extrêmement bienvenues</a>.</p>
</div></div>
