
<a href="/fr/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">The Gender Dysphoria Bible</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/fr/printable"                class="{{#is meta.url '/fr/printable'               }}active {{/is}}dropdown-item">View All</a>
  <a href="/gdb.pdf"                     class="dropdown-item">Download PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/fr/"                         class="{{#is meta.url '/fr/index' '/'               }}active {{/is}}dropdown-item">Introduction</a>
  <a href="/fr/what-is-gender"           class="{{#is meta.url '/fr/what-is-gender'          }}active {{/is}}dropdown-item">What is Gender?</a>
  <a href="/fr/history"                  class="{{#is meta.url '/fr/history'                 }}active {{/is}}dropdown-item">The History of Gender Dysphoria</a>
  <a href="/fr/euphoria"                 class="{{#is meta.url '/fr/euphoria'                }}active {{/is}}dropdown-item">Gender Euphoria</a>
  <a href="/fr/physical-dysphoria"       class="{{#is meta.url '/fr/physical-dysphoria'      }}active {{/is}}dropdown-item">Physical Dysphoria</a>
  <a href="/fr/biochemical-dysphoria"    class="{{#is meta.url '/fr/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Biochemical Dysphoria</a>
  <a href="/fr/social-dysphoria"         class="{{#is meta.url '/fr/social-dysphoria'        }}active {{/is}}dropdown-item">Social Dysphoria</a>
  <a href="/fr/societal-dysphoria"       class="{{#is meta.url '/fr/societal-dysphoria'      }}active {{/is}}dropdown-item">Societal Dysphoria</a>
  <a href="/fr/sexual-dysphoria"         class="{{#is meta.url '/fr/sexual-dysphoria'        }}active {{/is}}dropdown-item">Sexual Dysphoria</a>
  <a href="/fr/presentational-dysphoria" class="{{#is meta.url '/fr/presentational-dysphoria'}}active {{/is}}dropdown-item">Presentational Dysphoria</a>
  <a href="/fr/existential-dysphoria"    class="{{#is meta.url '/fr/existential-dysphoria'   }}active {{/is}}dropdown-item">Existential Dysphoria</a>
  <a href="/fr/managed-dysphoria"        class="{{#is meta.url '/fr/managed-dysphoria'       }}active {{/is}}dropdown-item">Managed Dysphoria</a>
  <a href="/fr/impostor-syndrome"        class="{{#is meta.url '/fr/impostor-syndrome'       }}active {{/is}}dropdown-item">Impostor Syndrome</a>
  <a href="/fr/am-i-trans       "        class="{{#is meta.url '/fr/am-i-trans'              }}active {{/is}}dropdown-item">Est-ce que je suis trans ?</a>
  <a href="/fr/diagnoses"                class="{{#is meta.url '/fr/diagnoses'               }}active {{/is}}dropdown-item">Clinical Diagnoses</a>
  <a href="/fr/treatment"                class="{{#is meta.url '/fr/treatment'               }}active {{/is}}dropdown-item">Treating Gender Dysphoria</a>
  <a href="/fr/causes"                   class="{{#is meta.url '/fr/causes'                  }}active {{/is}}dropdown-item">Causes of Gender Dysphoria</a>
  <a href="/fr/chromosomes"              class="{{#is meta.url '/fr/chromosomes'             }}active {{/is}}dropdown-item">Chromosomes</a>
  <a href="/fr/hormones"                 class="{{#is meta.url '/fr/hormones'                }}active {{/is}}dropdown-item">How Hormones Work</a>
  <a href="/fr/second-puberty-masc"      class="{{#is meta.url '/fr/second-puberty-masc'     }}active {{/is}}dropdown-item">Androgenic Second Puberty 101</a>
  <a href="/fr/second-puberty-fem"       class="{{#is meta.url '/fr/second-puberty-fem'      }}active {{/is}}dropdown-item">Estrogenic Second Puberty 101</a>
  <a href="/fr/conclusion"               class="{{#is meta.url '/fr/conclusion'              }}active {{/is}}dropdown-item">Conclusion</a>
</div>
