
<a href="/fr/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">La Bible de la Dysphorie de Genre</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/fr/a-imprimer"                class="{{#is meta.url '/fr/a-imprimer'               }}active {{/is}}dropdown-item">Voir tous</a>
  <a href="/gdb-fr.pdf"                     class="dropdown-item">Télécharger le PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/fr/"                         class="{{#is meta.url '/fr/index' '/'               }}active {{/is}}dropdown-item">Introduction</a>
  <a href="/fr/qu-est-ce-que-le-genre"           class="{{#is meta.url '/fr/qu-est-ce-que-le-genre'          }}active {{/is}}dropdown-item">Qu'est-ce que le genre ?</a>
  <a href="/fr/history"                  class="{{#is meta.url '/fr/history'                 }}active {{/is}}dropdown-item">L'histoire de la Dysphorie de Genre</a>
  <a href="/fr/euphorie"                 class="{{#is meta.url '/fr/euphorie'                }}active {{/is}}dropdown-item">Euphorie du genre</a>
  <a href="/fr/dysphorie-physique"       class="{{#is meta.url '/fr/dysphorie-physique'      }}active {{/is}}dropdown-item">Dysphorie Physique</a>
  <a href="/fr/dysphorie-biochimique"    class="{{#is meta.url '/fr/dysphorie-biochimique'   }}active {{/is}}dropdown-item">Dysphorie Biochimique</a>
  <a href="/fr/dysphorie-sociale"         class="{{#is meta.url '/fr/dysphorie-sociale'        }}active {{/is}}dropdown-item">Dysphorie Sociale</a>
  <a href="/fr/dysphorie-societale"       class="{{#is meta.url '/fr/dysphorie-societale'      }}active {{/is}}dropdown-item">Dysphorie Sociétale</a>
  <a href="/fr/dysphorie-sexuelle"         class="{{#is meta.url '/fr/dysphorie-sexuelle'        }}active {{/is}}dropdown-item">Dysphorie Sexuelle</a>
  <a href="/fr/dysphorie-de-presentation" class="{{#is meta.url '/fr/dysphorie-de-presentation'}}active {{/is}}dropdown-item">Dysphorie de Présentation</a>
  <a href="/fr/dysphorie-existentielle"    class="{{#is meta.url '/fr/dysphorie-existentielle'   }}active {{/is}}dropdown-item">Dysphorie Existentielle</a>
  <a href="/fr/dysphorie-geree"        class="{{#is meta.url '/fr/dysphorie-geree'       }}active {{/is}}dropdown-item">Dysphorie Gérée</a>
  <a href="/fr/syndrome-d-imposteur"        class="{{#is meta.url '/fr/syndrome-d-imposteur'       }}active {{/is}}dropdown-item">Syndrome de l'imposteur</a>
  <a href="/fr/est-ce-que-je-suis-trans"        class="{{#is meta.url '/fr/est-ce-que-je-suis-trans'              }}active {{/is}}dropdown-item">Est-ce que je suis trans ?</a>
  <a href="/fr/diagnostiques"                class="{{#is meta.url '/fr/diagnostiques'               }}active {{/is}}dropdown-item">Diagnostiques</a>
  <a href="/fr/traitement"                class="{{#is meta.url '/fr/traitement'               }}active {{/is}}dropdown-item">Traitement de la Dysphorie de Genre</a>
  <a href="/fr/causes"                   class="{{#is meta.url '/fr/causes'                  }}active {{/is}}dropdown-item">Causes de la dysphorie de genre</a>
  <a href="/fr/chromosomes"              class="{{#is meta.url '/fr/chromosomes'             }}active {{/is}}dropdown-item">Chromosomes</a>
  <a href="/fr/hormones"                 class="{{#is meta.url '/fr/hormones'                }}active {{/is}}dropdown-item">Comment fonctionnent les Hormones</a>
  <a href="/fr/deuxieme-puberte-androgenique"      class="{{#is meta.url '/fr/deuxieme-puberte-androgenique'     }}active {{/is}}dropdown-item">Deuxième Puberté Androgenique</a>
  <a href="/fr/deuxieme-puberte-oestrogenique"       class="{{#is meta.url '/fr/deuxieme-puberte-oestrogenique'      }}active {{/is}}dropdown-item">Deuxième Puberté Œstrogénique</a>
  <a href="/fr/conclusion"               class="{{#is meta.url '/fr/conclusion'              }}active {{/is}}dropdown-item">Conclusion</a>
</div>
