<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/en/" class="{{#is page.lang 'en'}}active {{/is}}dropdown-item">English</a>
  <a href="/zh/" class="{{#is page.lang 'zh'}}active {{/is}}dropdown-item">中文 (Chinese)</a>
  <a href="/fr/" class="{{#is page.lang 'fr'}}active {{/is}}dropdown-item">Français (French)</a>
  <a href="/de/" class="{{#is page.lang 'de'}}active {{/is}}dropdown-item">Deutsch (German)</a>
  <a href="/hu/" class="{{#is page.lang 'hu'}}active {{/is}}dropdown-item">Magyar (Hungarian)</a>
  <a href="/pl/" class="{{#is page.lang 'pl'}}active {{/is}}dropdown-item">polski (Polish)</a>
</div>
