<div class="patreon-support">
  <strong>{{{lang 'PATREON_FOOTER_BODY'}}}</strong>
  <p>{{{lang 'PATREON_FOOTER_THANKS'}}}</p>
  <ul>
    <li>Alita Moore</li>
    <li>Amanda B</li>
    <li>Amanda McPeck</li>
    <li>Amelia Unchained</li>
    <li>Blake VanTassel</li>
    <li>Brass Cowbell</li>
    <li>Clarity Amaranthine</li>
    <li>Dillon</li>
    <li>Evelin M. C.</li>
    <li>Fastbuilder575</li>
    <li>Franziska Roten</li>
    <li>Hannah Johnson-Walsh</li>
    <li>Heather Lunde</li>
    <li>Jaye R.</li>
    <li>Jon Sailor</li>
    <li>Julia Hocken</li>
    <li>K. Volkert</li>
    <li>Laura B Tinter</li>
    <li>Lee Piner</li>
    <li>Made of Stars</li>
    <li>Mae</li>
    <li>Meghan Hailey Jantak</li>
    <li>Miguel Corona</li>
    <li>Olivia Thiderman</li>
    <li>patternicity</li>
    <li>Xanterra</li>
    <li>Zoé Cassiopée</li>
  </ul>
  <hr>
</div>
