<div class="disclaimer"><div>
  <strong>La Biblia de la Disforia de Género es un Documento Vivo</strong>
  <p>El contenido de este sitio cambiará con el tiempo conforme se hagan adiciones y  revisiones para expandir y abarcar la totalidad de la Disforia de Género. En su iteración actual, se encuentra muy escasa en narrativas AFAB, no binaries, y agénero; disforia específica a la fluidez de género, y narrativas del Tercer Género. La BDG es un proyecto de fuente abierta y fundada públicamente, contribucuiones de <a href="https://github.com/GenderDysphoria/GenderDysphoria.fyi">contenido</a> y <a href="https://patreon.com/curvyandtrans">fiscales</a> son sumamente bienvenidas.</p>
</div></div>
