<div class="disclaimer"><div>
  <strong>性別違和バイブルは「生きた文書」です</strong>
  <p>このサイトの内容は、性別違和の全体像をより広く描き出すために、新しい項目の追加や改訂を重ねながら、時とともに変化していきます。現時点では、ノンバイナリー・Xジェンダー・ジェンダーフルイドの人々に特有の違和や、第三の性・トゥースピリットにまつわる語りについては、まだ大きく不足しています。GDB はオープンソースで、公的な支援によって運営されているプロジェクトです。<a href="/contributing/">ご協力を心から歓迎します</a>。</p>
</div></div>
