
<a href="/ja/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">性別違和バイブル</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/ja/printable"               class="{{#is meta.url '/ja/printable'              }}active {{/is}}dropdown-item">全文を表示</a>
  <!-- <a href="/ja.pdf"                  class="dropdown-item">PDF をダウンロード {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a> -->
  <hr class="dropdown-divider">
  <a href="/ja/"                        class="{{#is meta.url '/ja/index' '/'              }}active {{/is}}dropdown-item">はじめに</a>
  <a href="/ja/ジェンダーとは"            class="{{#is meta.url '/ja/ジェンダーとは'           }}active {{/is}}dropdown-item">ジェンダーとは？</a>
  <a href="/ja/歴史"                     class="{{#is meta.url '/ja/歴史'                    }}active {{/is}}dropdown-item">性別違和の歴史</a>
  <a href="/ja/性別高揚感"                class="{{#is meta.url '/ja/性別高揚感'               }}active {{/is}}dropdown-item">性別高揚感</a>
  <a href="/ja/身体的違和"                class="{{#is meta.url '/ja/身体的違和'               }}active {{/is}}dropdown-item">身体的違和</a>
  <a href="/ja/生化学的違和"              class="{{#is meta.url '/ja/生化学的違和'             }}active {{/is}}dropdown-item">生化学的違和</a>
  <a href="/ja/対人的違和"                class="{{#is meta.url '/ja/対人的違和'               }}active {{/is}}dropdown-item">対人的違和</a>
  <a href="/ja/社会的違和"                class="{{#is meta.url '/ja/社会的違和'               }}active {{/is}}dropdown-item">社会的違和</a>
  <a href="/ja/性的違和"                  class="{{#is meta.url '/ja/性的違和'                 }}active {{/is}}dropdown-item">性的違和</a>
  <a href="/ja/表現的違和"                class="{{#is meta.url '/ja/表現的違和'               }}active {{/is}}dropdown-item">表現的違和</a>
  <a href="/ja/実存的違和"                class="{{#is meta.url '/ja/実存的違和'               }}active {{/is}}dropdown-item">実存的違和</a>
  <a href="/ja/管理された違和"            class="{{#is meta.url '/ja/管理された違和'           }}active {{/is}}dropdown-item">管理された違和</a>
  <a href="/ja/インポスター症候群"        class="{{#is meta.url '/ja/インポスター症候群'       }}active {{/is}}dropdown-item">インポスター症候群</a>
  <a href="/ja/私はトランスジェンダーなの" class="{{#is meta.url '/ja/私はトランスジェンダーなの'}}active {{/is}}dropdown-item">私はトランスジェンダーなの？</a>
  <a href="/ja/診断"                     class="{{#is meta.url '/ja/診断'                    }}active {{/is}}dropdown-item">臨床的診断</a>
  <a href="/ja/治療"                     class="{{#is meta.url '/ja/治療'                    }}active {{/is}}dropdown-item">性別違和の治療</a>
  <a href="/ja/原因"                     class="{{#is meta.url '/ja/原因'                    }}active {{/is}}dropdown-item">性別違和の原因</a>
  <a href="/ja/染色体"                   class="{{#is meta.url '/ja/染色体'                  }}active {{/is}}dropdown-item">染色体</a>
  <a href="/ja/ホルモン"                  class="{{#is meta.url '/ja/ホルモン'                }}active {{/is}}dropdown-item">ホルモンの仕組み</a>
  <a href="/ja/二度目の思春期-男性化"      class="{{#is meta.url '/ja/二度目の思春期-男性化'    }}active {{/is}}dropdown-item">二度目の思春期（男性化）</a>
  <a href="/ja/二度目の思春期-女性化"      class="{{#is meta.url '/ja/二度目の思春期-女性化'    }}active {{/is}}dropdown-item">二度目の思春期（女性化）</a>
  <a href="/ja/結論"                     class="{{#is meta.url '/ja/結論'                    }}active {{/is}}dropdown-item">結び</a>
</div>
